In [397]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import xgboost as xgb 
from xgboost import XGBClassifier, plot_importance
from itertools import combinations

### 전처리1. df_test에서 모든 컬럼이 WT인 컬럼들 df와 df_test에서 삭제

In [398]:
df = pd.read_csv('../input/train.csv')
#df.drop(columns=['IDH1', 'TP53'], inplace=True)
df_test = pd.read_csv('../input/test.csv')
df_test.drop(columns='ID', inplace=True)
#df_test.drop(columns=['IDH1', 'TP53'], inplace=True)

cdf = df_test.apply(lambda x : x!='WT').agg(sum).reset_index(name='count')  #.sort_values(by='count', ascending=False)
to_remove = cdf[cdf['count'] == 0 ]['index'].values
df.drop(columns = to_remove, axis=1, inplace=True)
df_test.drop(columns = to_remove, axis=1, inplace=True)
df.shape
data = df.drop(columns=['ID', 'SUBCLASS'])
disease_list = df.SUBCLASS.unique()

In [399]:
data = df.drop('ID', axis=1)

In [ ]:

total = pd.concat([data, df_test])
data.iloc[:, 1:] = data.iloc[:, 1:].applymap(lambda x : 0 if x =='WT' else 1)
data

In [ ]:
from itertools import combinations
data2 = data.drop('SUBCLASS',axis=1)

results = []
#컬럼 수
num_columns = df_test.shape[1]

# 10개씩 나누어 접근하기
for i in range(0, num_columns, 10):
    # 각 범위의 시작 및 끝 인덱스 계산
    print("first_range", i, i + 10)  # 첫 번째 10개 컬럼
    data2_1 = data2.iloc[:, i: i+10]
    column_pairs = combinations(data2_1.columns, 2)

    for colA, colB in column_pairs:
        #if colA.startswith('m_'): break;    
        if not (colA in data2.columns) or not (colB in data2.columns):
            break;
        # 데이터프레임에서 colA가 'WT'가 아닌 샘플의 'SUBCLASS' 값 카운트
        colA_distribution = pd.Series(df_test[colA].apply(lambda x: 1 if x != 'WT' else 0))
        colB_distribution = pd.Series(df_test[colB].apply(lambda x: 1 if x != 'WT' else 0))
        
        cosine_sim = cosine_similarity(colA_distribution.values.reshape(1, -1), colB_distribution.values.reshape(1, -1))[0][0]
        
        if cosine_sim > 0.90:
            print(colA, colB, cosine_sim)
        #    results.append((colA, colB, cosine_sim))
#results_df = pd.DataFrame(results, columns=['Column 1', 'Column 2', 'Cosine Similarity'])

first_range 0 10
first_range 10 20
first_range 20 30
first_range 30 40
first_range 40 50
first_range 50 60
first_range 60 70
first_range 70 80
first_range 80 90
first_range 90 100
first_range 100 110
first_range 110 120
first_range 120 130
first_range 130 140
first_range 140 150
first_range 150 160
first_range 160 170
first_range 170 180
first_range 180 190
first_range 190 200
first_range 200 210
first_range 210 220
first_range 220 230
first_range 230 240
first_range 240 250
first_range 250 260
first_range 260 270
first_range 270 280
first_range 280 290
first_range 290 300
first_range 300 310
first_range 310 320
first_range 320 330
first_range 330 340
first_range 340 350
first_range 350 360
first_range 360 370
first_range 370 380
first_range 380 390
first_range 390 400
first_range 400 410
first_range 410 420
first_range 420 430
first_range 430 440
first_range 440 450
first_range 450 460
first_range 460 470
first_range 470 480
first_range 480 490
first_range 490 500
first_range 500 510
first_range 510 520
first_range 520 530
first_range 530 540
first_range 540 550
first_range 550 560
first_range 560 570
first_range 570 580
first_range 580 590
first_range 590 600
first_range 600 610
first_range 610 620
first_range 620 630
first_range 630 640
first_range 640 650
first_range 650 660
first_range 660 670
first_range 670 680
first_range 680 690
first_range 690 700
first_range 700 710
first_range 710 720
first_range 720 730
first_range 730 740
first_range 740 750
first_range 750 760
first_range 760 770
first_range 770 780
first_range 780 790
first_range 790 800
first_range 800 810
first_range 810 820
first_range 820 830
first_range 830 840
first_range 840 850
first_range 850 860
first_range 860 870
first_range 870 880
first_range 880 890
first_range 890 900
first_range 900 910
first_range 910 920
first_range 920 930
first_range 930 940
first_range 940 950
first_range 950 960
first_range 960 970
first_range 970 980
first_range 980 990
first_range 990 1000
first_range 1000 1010
first_range 1010 1020
first_range 1020 1030
first_range 1030 1040
first_range 1040 1050
first_range 1050 1060
first_range 1060 1070
first_range 1070 1080
first_range 1080 1090
first_range 1090 1100
first_range 1100 1110
first_range 1110 1120
first_range 1120 1130
first_range 1130 1140
first_range 1140 1150
first_range 1150 1160
first_range 1160 1170
first_range 1170 1180
first_range 1180 1190
first_range 1190 1200
first_range 1200 1210
first_range 1210 1220
first_range 1220 1230
first_range 1230 1240
first_range 1240 1250
first_range 1250 1260
first_range 1260 1270
first_range 1270 1280
first_range 1280 1290
first_range 1290 1300
first_range 1300 1310
first_range 1310 1320
first_range 1320 1330
first_range 1330 1340
first_range 1340 1350
first_range 1350 1360
first_range 1360 1370
first_range 1370 1380
first_range 1380 1390
first_range 1390 1400
first_range 1400 1410
first_range 1410 1420
first_range 1420 1430
first_range 1430 1440
first_range 1440 1450
first_range 1450 1460
first_range 1460 1470
first_range 1470 1480
first_range 1480 1490
first_range 1490 1500
first_range 1500 1510
first_range 1510 1520
first_range 1520 1530
first_range 1530 1540
first_range 1540 1550
first_range 1550 1560
first_range 1560 1570
first_range 1570 1580
first_range 1580 1590
first_range 1590 1600
first_range 1600 1610
first_range 1610 1620
first_range 1620 1630
first_range 1630 1640
first_range 1640 1650
first_range 1650 1660
first_range 1660 1670
first_range 1670 1680
first_range 1680 1690
first_range 1690 1700
first_range 1700 1710
first_range 1710 1720
first_range 1720 1730
first_range 1730 1740
first_range 1740 1750
first_range 1750 1760
first_range 1760 1770
first_range 1770 1780
first_range 1780 1790
first_range 1790 1800
first_range 1800 1810
first_range 1810 1820
first_range 1820 1830
first_range 1830 1840
first_range 1840 1850
first_range 1850 1860
first_range 1860 1870
first_range 1870 1880
first_range 1880 1890
first_range 1890 1900
first_range 1900 1910
first_range 1910 1920
first_range 1920 1930
first_range 1930 1940
first_range 1940 1950
first_range 1950 1960
first_range 1960 1970
first_range 1970 1980
first_range 1980 1990
first_range 1990 2000
first_range 2000 2010
first_range 2010 2020
first_range 2020 2030
first_range 2030 2040
first_range 2040 2050
first_range 2050 2060
first_range 2060 2070
first_range 2070 2080
first_range 2080 2090
first_range 2090 2100
first_range 2100 2110
first_range 2110 2120
first_range 2120 2130
first_range 2130 2140
first_range 2140 2150
first_range 2150 2160
first_range 2160 2170
first_range 2170 2180
first_range 2180 2190
first_range 2190 2200
first_range 2200 2210
first_range 2210 2220
first_range 2220 2230
first_range 2230 2240
first_range 2240 2250
first_range 2250 2260
first_range 2260 2270
first_range 2270 2280
first_range 2280 2290
first_range 2290 2300
first_range 2300 2310
first_range 2310 2320
first_range 2320 2330
first_range 2330 2340
first_range 2340 2350
first_range 2350 2360
first_range 2360 2370
first_range 2370 2380
first_range 2380 2390
first_range 2390 2400
first_range 2400 2410
first_range 2410 2420
first_range 2420 2430
first_range 2430 2440
first_range 2440 2450
first_range 2450 2460
first_range 2460 2470
first_range 2470 2480
first_range 2480 2490
first_range 2490 2500
first_range 2500 2510
first_range 2510 2520
first_range 2520 2530
first_range 2530 2540
first_range 2540 2550
first_range 2550 2560
first_range 2560 2570
first_range 2570 2580
first_range 2580 2590
first_range 2590 2600
first_range 2600 2610
first_range 2610 2620
first_range 2620 2630
first_range 2630 2640
first_range 2640 2650
first_range 2650 2660
first_range 2660 2670
first_range 2670 2680
first_range 2680 2690
first_range 2690 2700
first_range 2700 2710
first_range 2710 2720
first_range 2720 2730
first_range 2730 2740
first_range 2740 2750
first_range 2750 2760
first_range 2760 2770
first_range 2770 2780
first_range 2780 2790
first_range 2790 2800
first_range 2800 2810
first_range 2810 2820
first_range 2820 2830
first_range 2830 2840
first_range 2840 2850
first_range 2850 2860
first_range 2860 2870
first_range 2870 2880
first_range 2880 2890
first_range 2890 2900
first_range 2900 2910
first_range 2910 2920
first_range 2920 2930
first_range 2930 2940
first_range 2940 2950
first_range 2950 2960
first_range 2960 2970
first_range 2970 2980
first_range 2980 2990
first_range 2990 3000
first_range 3000 3010
first_range 3010 3020
first_range 3020 3030
first_range 3030 3040
first_range 3040 3050
first_range 3050 3060
first_range 3060 3070
first_range 3070 3080
first_range 3080 3090
first_range 3090 3100
first_range 3100 3110
first_range 3110 3120
first_range 3120 3130
first_range 3130 3140
first_range 3140 3150
first_range 3150 3160
first_range 3160 3170
first_range 3170 3180
first_range 3180 3190
first_range 3190 3200
first_range 3200 3210
first_range 3210 3220
first_range 3220 3230
first_range 3230 3240
first_range 3240 3250
first_range 3250 3260
first_range 3260 3270
first_range 3270 3280
first_range 3280 3290
first_range 3290 3300
first_range 3300 3310
first_range 3310 3320
first_range 3320 3330
first_range 3330 3340
first_range 3340 3350
first_range 3350 3360
first_range 3360 3370
first_range 3370 3380
first_range 3380 3390
first_range 3390 3400
first_range 3400 3410
first_range 3410 3420
first_range 3420 3430
first_range 3430 3440
first_range 3440 3450
first_range 3450 3460
first_range 3460 3470
first_range 3470 3480
first_range 3480 3490
first_range 3490 3500
first_range 3500 3510
first_range 3510 3520
first_range 3520 3530
first_range 3530 3540
first_range 3540 3550
first_range 3550 3560
first_range 3560 3570

In [252]:
from itertools import combinations
data2 = data.drop('SUBCLASS',axis=1)

results = []
#컬럼 수
num_columns = data2.shape[1]

# 10개씩 나누어 접근하기
for i in range(0, num_columns, 10):
    # 각 범위의 시작 및 끝 인덱스 계산
    print("first_range", i, i + 10)  # 첫 번째 10개 컬럼
    data2_1 = data2.iloc[:, i: i+10]
    column_pairs = combinations(data2_1.columns, 2)

    for colA, colB in column_pairs:
        #if colA.startswith('m_'): break;    
        if not (colA in data2.columns) or not (colB in data2.columns):
            break;
        # 데이터프레임에서 colA가 'WT'가 아닌 샘플의 'SUBCLASS' 값 카운트
        colA_distribution = df[df[colA].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()
        colB_distribution = df[df[colB].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()

        # 두 분포의 인덱스를 맞추기
        combined_distribution = pd.DataFrame({
            colA: colA_distribution,
            colB: colB_distribution
        }).fillna(0)  # NaN 값을 0으로 채움
        if combined_distribution.empty or combined_distribution.shape[1] == 0:
            print("No data available for cosine similarity calculation.") 
            break
        # 코사인 유사도
        cosine_sim = cosine_similarity(combined_distribution.T)[0][1]
        if cosine_sim > 0.92:
            results.append((colA, colB, cosine_sim))
            #merge
            new_colname = "m_"+colA+"_"+colB
            total[new_colname] =  np.where(total[colA] != 'WT', total[colA], total[colB])
            #drop
            total.drop(columns=[colA, colB], inplace=True)
            data2.drop(columns=[colA, colB], inplace=True)
    
    print("second_range", i + 10 - 3, i + 10 + 3)  # 두 번째 10개 컬럼 (3개 이동)
    data2_2 = data2.iloc[:, i + 10 - 3:  i + 10 + 3]
    column_pairs2 = combinations(data2_2.columns, 2)
    
    for colA, colB in column_pairs2:
        #if colA.startswith('m_'): break;
        if not (colA in data2.columns) or not (colB in data2.columns):
            break;
        colA_distribution = df[df[colA].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()
        colB_distribution = df[df[colB].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()

        # 두 분포의 인덱스를 맞추기
        combined_distribution = pd.DataFrame({
            colA: colA_distribution,
            colB: colB_distribution
        }).fillna(0)  # NaN 값을 0으로 채움
        if combined_distribution.empty or combined_distribution.shape[1] == 0:
            print("No data available for cosine similarity calculation.") 
            break

        # 코사인 유사도
        cosine_sim = cosine_similarity(combined_distribution.T)[0][1]
        if cosine_sim > 0.92:
            results.append((colA, colB, cosine_sim))
            #merge
            new_colname = "m_"+colA+"_"+colB
            total[new_colname] =  np.where(total[colA] != 'WT', total[colA], total[colB])
            #drop
            total.drop(columns=[colA, colB], inplace=True)
            data2.drop(columns=[colA, colB], inplace=True)

results_df = pd.DataFrame(results, columns=['Column 1', 'Column 2', 'Cosine Similarity'])

first_range 0 10
second_range 7 13
first_range 10 20
second_range 17 23
first_range 20 30
second_range 27 33
first_range 30 40
second_range 37 43
first_range 40 50
second_range 47 53
first_range 50 60
second_range 57 63
first_range 60 70
second_range 67 73
first_range 70 80
second_range 77 83
first_range 80 90
second_range 87 93
first_range 90 100
No data available for cosine similarity calculation.
second_range 97 103
first_range 100 110
second_range 107 113
first_range 110 120
second_range 117 123
first_range 120 130
second_range 127 133
first_range 130 140
second_range 137 143
first_range 140 150
second_range 147 153
first_range 150 160
second_range 157 163
first_range 160 170
second_range 167 173
first_range 170 180
second_range 177 183
first_range 180 190
second_range 187 193
first_range 190 200
second_range 197 203
first_range 200 210
second_range 207 213
first_range 210 220
second_range 217 223
first_range 220 230
second_range 227 233
first_range 230 240
second_range 237 243
first_range 240 250
second_range 247 253
first_range 250 260
second_range 257 263
first_range 260 270
second_range 267 273
first_range 270 280
second_range 277 283
first_range 280 290
No data available for cosine similarity calculation.
second_range 287 293
No data available for cosine similarity calculation.
first_range 290 300
No data available for cosine similarity calculation.
second_range 297 303
first_range 300 310
second_range 307 313
first_range 310 320
second_range 317 323
first_range 320 330
second_range 327 333
first_range 330 340
second_range 337 343
first_range 340 350
second_range 347 353
first_range 350 360
second_range 357 363
first_range 360 370
second_range 367 373
first_range 370 380
second_range 377 383
first_range 380 390
second_range 387 393
first_range 390 400
second_range 397 403
first_range 400 410
second_range 407 413
first_range 410 420
second_range 417 423
first_range 420 430
second_range 427 433
first_range 430 440
second_range 437 443
first_range 440 450
second_range 447 453
first_range 450 460
second_range 457 463
No data available for cosine similarity calculation.
first_range 460 470
No data available for cosine similarity calculation.
second_range 467 473
first_range 470 480
second_range 477 483
first_range 480 490
No data available for cosine similarity calculation.
second_range 487 493
No data available for cosine similarity calculation.
first_range 490 500
second_range 497 503
first_range 500 510
second_range 507 513
first_range 510 520
second_range 517 523
first_range 520 530
second_range 527 533
first_range 530 540
second_range 537 543
first_range 540 550
second_range 547 553
first_range 550 560
second_range 557 563
first_range 560 570
second_range 567 573
first_range 570 580
second_range 577 583
first_range 580 590
second_range 587 593
first_range 590 600
second_range 597 603
first_range 600 610
second_range 607 613
first_range 610 620
second_range 617 623
first_range 620 630
second_range 627 633
first_range 630 640
second_range 637 643
first_range 640 650
second_range 647 653
first_range 650 660
second_range 657 663
first_range 660 670
second_range 667 673
first_range 670 680
second_range 677 683
first_range 680 690
second_range 687 693
first_range 690 700
second_range 697 703
first_range 700 710
second_range 707 713
first_range 710 720
second_range 717 723
first_range 720 730
second_range 727 733
first_range 730 740
second_range 737 743
first_range 740 750
second_range 747 753
first_range 750 760
second_range 757 763
first_range 760 770
second_range 767 773
first_range 770 780
second_range 777 783
first_range 780 790
second_range 787 793
first_range 790 800
second_range 797 803
first_range 800 810
second_range 807 813
first_range 810 820
second_range 817 823
first_range 820 830
second_range 827 833
first_range 830 840
second_range 837 843
first_range 840 850
second_range 847 853
first_range 850 860
second_range 857 863
first_range 860 870
second_range 867 873
first_range 870 880
second_range 877 883
first_range 880 890
second_range 887 893
first_range 890 900
second_range 897 903
first_range 900 910
second_range 907 913
first_range 910 920
second_range 917 923
first_range 920 930
second_range 927 933
first_range 930 940
second_range 937 943
first_range 940 950
second_range 947 953
first_range 950 960
second_range 957 963
first_range 960 970
second_range 967 973
first_range 970 980
second_range 977 983
first_range 980 990
second_range 987 993
first_range 990 1000
second_range 997 1003
first_range 1000 1010
second_range 1007 1013
first_range 1010 1020
second_range 1017 1023
first_range 1020 1030
second_range 1027 1033
first_range 1030 1040
second_range 1037 1043
first_range 1040 1050
second_range 1047 1053
first_range 1050 1060
second_range 1057 1063
first_range 1060 1070
No data available for cosine similarity calculation.
second_range 1067 1073
first_range 1070 1080
second_range 1077 1083
first_range 1080 1090
second_range 1087 1093
first_range 1090 1100
second_range 1097 1103
first_range 1100 1110
second_range 1107 1113
first_range 1110 1120
second_range 1117 1123
first_range 1120 1130
second_range 1127 1133
first_range 1130 1140
second_range 1137 1143
first_range 1140 1150
second_range 1147 1153
first_range 1150 1160
second_range 1157 1163
first_range 1160 1170
second_range 1167 1173
first_range 1170 1180
second_range 1177 1183
first_range 1180 1190
second_range 1187 1193
first_range 1190 1200
second_range 1197 1203
first_range 1200 1210
second_range 1207 1213
first_range 1210 1220
second_range 1217 1223
first_range 1220 1230
second_range 1227 1233
first_range 1230 1240
second_range 1237 1243
first_range 1240 1250
second_range 1247 1253
first_range 1250 1260
second_range 1257 1263
first_range 1260 1270
second_range 1267 1273
first_range 1270 1280
second_range 1277 1283
first_range 1280 1290
second_range 1287 1293
first_range 1290 1300
second_range 1297 1303
first_range 1300 1310
second_range 1307 1313
first_range 1310 1320
second_range 1317 1323
first_range 1320 1330
second_range 1327 1333
first_range 1330 1340
second_range 1337 1343
first_range 1340 1350
second_range 1347 1353
first_range 1350 1360
second_range 1357 1363
first_range 1360 1370
second_range 1367 1373
first_range 1370 1380
second_range 1377 1383
first_range 1380 1390
No data available for cosine similarity calculation.
second_range 1387 1393
first_range 1390 1400
second_range 1397 1403
first_range 1400 1410
No data available for cosine similarity calculation.
second_range 1407 1413
first_range 1410 1420
No data available for cosine similarity calculation.
second_range 1417 1423
No data available for cosine similarity calculation.
first_range 1420 1430
No data available for cosine similarity calculation.
second_range 1427 1433
No data available for cosine similarity calculation.
first_range 1430 1440
second_range 1437 1443
first_range 1440 1450
second_range 1447 1453
first_range 1450 1460
second_range 1457 1463
first_range 1460 1470
second_range 1467 1473
first_range 1470 1480
second_range 1477 1483
first_range 1480 1490
second_range 1487 1493
first_range 1490 1500
second_range 1497 1503
first_range 1500 1510
second_range 1507 1513
first_range 1510 1520
second_range 1517 1523
first_range 1520 1530
second_range 1527 1533
first_range 1530 1540
second_range 1537 1543
first_range 1540 1550
second_range 1547 1553
first_range 1550 1560
second_range 1557 1563
first_range 1560 1570
second_range 1567 1573
first_range 1570 1580
second_range 1577 1583
first_range 1580 1590
second_range 1587 1593
first_range 1590 1600
second_range 1597 1603
first_range 1600 1610
second_range 1607 1613
first_range 1610 1620
second_range 1617 1623
first_range 1620 1630
second_range 1627 1633
first_range 1630 1640
second_range 1637 1643
first_range 1640 1650
second_range 1647 1653
first_range 1650 1660
second_range 1657 1663
first_range 1660 1670
second_range 1667 1673
first_range 1670 1680
second_range 1677 1683
first_range 1680 1690
second_range 1687 1693
first_range 1690 1700
second_range 1697 1703
first_range 1700 1710
second_range 1707 1713
first_range 1710 1720
second_range 1717 1723
first_range 1720 1730
No data available for cosine similarity calculation.
second_range 1727 1733
first_range 1730 1740
second_range 1737 1743
first_range 1740 1750
second_range 1747 1753
first_range 1750 1760
second_range 1757 1763
first_range 1760 1770
second_range 1767 1773
first_range 1770 1780
second_range 1777 1783
first_range 1780 1790
No data available for cosine similarity calculation.
second_range 1787 1793
first_range 1790 1800
second_range 1797 1803
first_range 1800 1810
second_range 1807 1813
first_range 1810 1820
second_range 1817 1823
first_range 1820 1830
second_range 1827 1833
first_range 1830 1840
second_range 1837 1843
first_range 1840 1850
second_range 1847 1853
first_range 1850 1860
second_range 1857 1863
first_range 1860 1870
second_range 1867 1873
first_range 1870 1880
second_range 1877 1883
first_range 1880 1890
second_range 1887 1893
first_range 1890 1900
second_range 1897 1903
first_range 1900 1910
second_range 1907 1913
first_range 1910 1920
second_range 1917 1923
first_range 1920 1930
second_range 1927 1933
first_range 1930 1940
second_range 1937 1943
first_range 1940 1950
second_range 1947 1953
first_range 1950 1960
second_range 1957 1963
first_range 1960 1970
second_range 1967 1973
first_range 1970 1980
second_range 1977 1983
first_range 1980 1990
No data available for cosine similarity calculation.
second_range 1987 1993
first_range 1990 2000
second_range 1997 2003
first_range 2000 2010
second_range 2007 2013
first_range 2010 2020
second_range 2017 2023
first_range 2020 2030
second_range 2027 2033
first_range 2030 2040
second_range 2037 2043
first_range 2040 2050
second_range 2047 2053
first_range 2050 2060
No data available for cosine similarity calculation.
second_range 2057 2063
first_range 2060 2070
second_range 2067 2073
first_range 2070 2080
second_range 2077 2083
first_range 2080 2090
second_range 2087 2093
first_range 2090 2100
second_range 2097 2103
first_range 2100 2110
second_range 2107 2113
first_range 2110 2120
second_range 2117 2123
first_range 2120 2130
second_range 2127 2133
first_range 2130 2140
second_range 2137 2143
first_range 2140 2150
second_range 2147 2153
first_range 2150 2160
second_range 2157 2163
first_range 2160 2170
second_range 2167 2173
first_range 2170 2180
second_range 2177 2183
first_range 2180 2190
No data available for cosine similarity calculation.
second_range 2187 2193
first_range 2190 2200
second_range 2197 2203
first_range 2200 2210
second_range 2207 2213
first_range 2210 2220
second_range 2217 2223
first_range 2220 2230
second_range 2227 2233
first_range 2230 2240
second_range 2237 2243
first_range 2240 2250
second_range 2247 2253
first_range 2250 2260
second_range 2257 2263
first_range 2260 2270
second_range 2267 2273
first_range 2270 2280
second_range 2277 2283
first_range 2280 2290
second_range 2287 2293
first_range 2290 2300
second_range 2297 2303
first_range 2300 2310
second_range 2307 2313
first_range 2310 2320
second_range 2317 2323
first_range 2320 2330
second_range 2327 2333
first_range 2330 2340
second_range 2337 2343
first_range 2340 2350
second_range 2347 2353
first_range 2350 2360
second_range 2357 2363
first_range 2360 2370
second_range 2367 2373
first_range 2370 2380
second_range 2377 2383
first_range 2380 2390
second_range 2387 2393
first_range 2390 2400
second_range 2397 2403
first_range 2400 2410
second_range 2407 2413
first_range 2410 2420
second_range 2417 2423
first_range 2420 2430
second_range 2427 2433
first_range 2430 2440
second_range 2437 2443
first_range 2440 2450
second_range 2447 2453
first_range 2450 2460
second_range 2457 2463
first_range 2460 2470
second_range 2467 2473
first_range 2470 2480
second_range 2477 2483
first_range 2480 2490
second_range 2487 2493
first_range 2490 2500
second_range 2497 2503
first_range 2500 2510
second_range 2507 2513
first_range 2510 2520
No data available for cosine similarity calculation.
second_range 2517 2523
first_range 2520 2530
second_range 2527 2533
first_range 2530 2540
second_range 2537 2543
first_range 2540 2550
second_range 2547 2553
first_range 2550 2560
second_range 2557 2563
first_range 2560 2570
second_range 2567 2573
first_range 2570 2580
second_range 2577 2583
first_range 2580 2590
second_range 2587 2593
first_range 2590 2600
second_range 2597 2603
first_range 2600 2610
second_range 2607 2613
first_range 2610 2620
second_range 2617 2623
first_range 2620 2630
second_range 2627 2633
first_range 2630 2640
second_range 2637 2643
first_range 2640 2650
second_range 2647 2653
first_range 2650 2660
second_range 2657 2663
first_range 2660 2670
second_range 2667 2673
first_range 2670 2680
second_range 2677 2683
first_range 2680 2690
second_range 2687 2693
first_range 2690 2700
second_range 2697 2703
first_range 2700 2710
second_range 2707 2713
first_range 2710 2720
second_range 2717 2723
first_range 2720 2730
second_range 2727 2733
first_range 2730 2740
second_range 2737 2743
first_range 2740 2750
second_range 2747 2753
first_range 2750 2760
second_range 2757 2763
first_range 2760 2770
second_range 2767 2773
first_range 2770 2780
second_range 2777 2783
first_range 2780 2790
second_range 2787 2793
first_range 2790 2800
second_range 2797 2803
first_range 2800 2810
second_range 2807 2813
first_range 2810 2820
second_range 2817 2823
first_range 2820 2830
second_range 2827 2833
first_range 2830 2840
second_range 2837 2843
first_range 2840 2850
second_range 2847 2853
first_range 2850 2860
second_range 2857 2863
first_range 2860 2870
second_range 2867 2873
first_range 2870 2880
second_range 2877 2883
first_range 2880 2890
second_range 2887 2893
first_range 2890 2900
second_range 2897 2903
first_range 2900 2910
second_range 2907 2913
first_range 2910 2920
second_range 2917 2923
first_range 2920 2930
second_range 2927 2933
first_range 2930 2940
second_range 2937 2943
first_range 2940 2950
second_range 2947 2953
first_range 2950 2960
No data available for cosine similarity calculation.
second_range 2957 2963
first_range 2960 2970
second_range 2967 2973
first_range 2970 2980
second_range 2977 2983
first_range 2980 2990
second_range 2987 2993
first_range 2990 3000
second_range 2997 3003
first_range 3000 3010
second_range 3007 3013
first_range 3010 3020
second_range 3017 3023
first_range 3020 3030
second_range 3027 3033
first_range 3030 3040
second_range 3037 3043
first_range 3040 3050
second_range 3047 3053
first_range 3050 3060
second_range 3057 3063
first_range 3060 3070
second_range 3067 3073
first_range 3070 3080
second_range 3077 3083
first_range 3080 3090
second_range 3087 3093
first_range 3090 3100
second_range 3097 3103
first_range 3100 3110
second_range 3107 3113
first_range 3110 3120
second_range 3117 3123
first_range 3120 3130
second_range 3127 3133
first_range 3130 3140
second_range 3137 3143
first_range 3140 3150
second_range 3147 3153
first_range 3150 3160
second_range 3157 3163
first_range 3160 3170
second_range 3167 3173
first_range 3170 3180
second_range 3177 3183
first_range 3180 3190
second_range 3187 3193
first_range 3190 3200
second_range 3197 3203
first_range 3200 3210
second_range 3207 3213
first_range 3210 3220
second_range 3217 3223
first_range 3220 3230
second_range 3227 3233
first_range 3230 3240
second_range 3237 3243
first_range 3240 3250
second_range 3247 3253
first_range 3250 3260
second_range 3257 3263
first_range 3260 3270
second_range 3267 3273
first_range 3270 3280
second_range 3277 3283
first_range 3280 3290
No data available for cosine similarity calculation.
second_range 3287 3293
No data available for cosine similarity calculation.
first_range 3290 3300
second_range 3297 3303
first_range 3300 3310
second_range 3307 3313
first_range 3310 3320
second_range 3317 3323
first_range 3320 3330
second_range 3327 3333
first_range 3330 3340
second_range 3337 3343
first_range 3340 3350
second_range 3347 3353
first_range 3350 3360
second_range 3357 3363
first_range 3360 3370
second_range 3367 3373
first_range 3370 3380
second_range 3377 3383
first_range 3380 3390
second_range 3387 3393
first_range 3390 3400
second_range 3397 3403
first_range 3400 3410
second_range 3407 3413
first_range 3410 3420
second_range 3417 3423
first_range 3420 3430
No data available for cosine similarity calculation.
second_range 3427 3433
first_range 3430 3440
second_range 3437 3443
first_range 3440 3450
second_range 3447 3453
first_range 3450 3460
second_range 3457 3463
first_range 3460 3470
second_range 3467 3473
first_range 3470 3480
second_range 3477 3483
first_range 3480 3490
second_range 3487 3493
first_range 3490 3500
second_range 3497 3503
first_range 3500 3510
second_range 3507 3513
first_range 3510 3520
second_range 3517 3523
first_range 3520 3530
second_range 3527 3533
first_range 3530 3540
second_range 3537 3543
first_range 3540 3550
second_range 3547 3553
first_range 3550 3560
second_range 3557 3563
first_range 3560 3570
second_range 3567 3573
first_range 3570 3580
second_range 3577 3583
first_range 3580 3590
second_range 3587 3593
first_range 3590 3600
second_range 3597 3603
No data available for cosine similarity calculation.
first_range 3600 3610
second_range 3607 3613
first_range 3610 3620
second_range 3617 3623
first_range 3620 3630
second_range 3627 3633
first_range 3630 3640
second_range 3637 3643
first_range 3640 3650
second_range 3647 3653
first_range 3650 3660
second_range 3657 3663
first_range 3660 3670
second_range 3667 3673
first_range 3670 3680
second_range 3677 3683
first_range 3680 3690
second_range 3687 3693
first_range 3690 3700
second_range 3697 3703
first_range 3700 3710
second_range 3707 3713
first_range 3710 3720
second_range 3717 3723
first_range 3720 3730
second_range 3727 3733
first_range 3730 3740
second_range 3737 3743
first_range 3740 3750
second_range 3747 3753
first_range 3750 3760
second_range 3757 3763
first_range 3760 3770
second_range 3767 3773
first_range 3770 3780
second_range 3777 3783
first_range 3780 3790
second_range 3787 3793
first_range 3790 3800
second_range 3797 3803
first_range 3800 3810
second_range 3807 3813
first_range 3810 3820
second_range 3817 3823
first_range 3820 3830
second_range 3827 3833
first_range 3830 3840
second_range 3837 3843
first_range 3840 3850
second_range 3847 3853
first_range 3850 3860
second_range 3857 3863
first_range 3860 3870
second_range 3867 3873
first_range 3870 3880
second_range 3877 3883
first_range 3880 3890
second_range 3887 3893
first_range 3890 3900
second_range 3897 3903
first_range 3900 3910
second_range 3907 3913
first_range 3910 3920
second_range 3917 3923
first_range 3920 3930
second_range 3927 3933
first_range 3930 3940
second_range 3937 3943
first_range 3940 3950
second_range 3947 3953
first_range 3950 3960
second_range 3957 3963
first_range 3960 3970
second_range 3967 3973
first_range 3970 3980
second_range 3977 3983
first_range 3980 3990
second_range 3987 3993
first_range 3990 4000
second_range 3997 4003
first_range 4000 4010
second_range 4007 4013
first_range 4010 4020
second_range 4017 4023
first_range 4020 4030
second_range 4027 4033
first_range 4030 4040
second_range 4037 4043
first_range 4040 4050
second_range 4047 4053
first_range 4050 4060
second_range 4057 4063
first_range 4060 4070
second_range 4067 4073
first_range 4070 4080
second_range 4077 4083
first_range 4080 4090
second_range 4087 4093
first_range 4090 4100
second_range 4097 4103
first_range 4100 4110
second_range 4107 4113
first_range 4110 4120
second_range 4117 4123
first_range 4120 4130
second_range 4127 4133
first_range 4130 4140
second_range 4137 4143
first_range 4140 4150
second_range 4147 4153
first_range 4150 4160
second_range 4157 4163
first_range 4160 4170
second_range 4167 4173
first_range 4170 4180
second_range 4177 4183
first_range 4180 4190
second_range 4187 4193
first_range 4190 4200
second_range 4197 4203
first_range 4200 4210
second_range 4207 4213
first_range 4210 4220
second_range 4217 4223
first_range 4220 4230
second_range 4227 4233
first_range 4230 4240

In [255]:
total.drop('SUBCLASS',inplace=True, axis=1)

In [256]:
total.to_csv('total_92.csv',index=False)

In [257]:
data2

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,ZNF112,ZNF277,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZW10,ZWINT
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6200,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [240]:
df

,ID,SUBCLASS,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,TRAIN_0000,KIPAN,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,TRAIN_0001,SARC,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,TRAIN_0002,SKCM,R895R,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3,TRAIN_0003,KIRC,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,TRAIN_0004,GBMLGG,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,TRAIN_6196,LUAD,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6197,TRAIN_6197,LGG,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6198,TRAIN_6198,COAD,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,T181S,WT
6199,TRAIN_6199,TGCT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6200,TRAIN_6200,SKCM,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [258]:
4360-3672

688

In [259]:
4360-4016

344

In [260]:
set(total.columns).difference(data2.columns)

{'m_A2M_ABCA2',
 'm_ABCA5_ABCA6',
 'm_ABCB11_ABCC3',
 'm_ABCC4_ABCC5',
 'm_ABCD3_ABI1',
 'm_ABI3BP_ABLIM1',
 'm_ACE_ACO2',
 'm_ACOX2_ACP1',
 'm_ACSL5_ACSM1',
 'm_ACVRL1_ADAD1',
 'm_ADAM12_ADAM15',
 'm_ADAM23_ADCY1',
 'm_ADCY6_ADD3',
 'm_ADD2_ADH7',
 'm_AFAP1L2_AFF1',
 'm_AGL_AGO4',
 'm_AGXT_AIFM3',
 'm_AKR1B10_AKR1C3',
 'm_AKT2_ALAS2',
 'm_ALDH1A2_ALDH1L1',
 'm_ALDOB_ALOX12B',
 'm_ALMS1_ALS2',
 'm_AMPD3_ANK1',
 'm_ANKH_ANLN',
 'm_ANO1_ANPEP',
 'm_AOC3_AOX1',
 'm_AP2M1_AP3B1',
 'm_APLP1_APLP2',
 'm_ARFGEF1_ARFGEF2',
 'm_ARHGEF11_ARHGEF12',
 'm_ARHGEF6_ARHGEF7',
 'm_AR_ARAF',
 'm_ASB7_ASF1A',
 'm_ATG4A_ATP1A3',
 'm_ATP2A1_ATP2B1',
 'm_ATP6V0A1_ATP6V0A4',
 'm_ATP6V1H_ATP8B1',
 'm_ATXN1_AUTS2',
 'm_AXIN1_AXL',
 'm_B3GNT3_B4GALNT2',
 'm_BAIAP2_BANK1',
 'm_BCAN_BCAR1',
 'm_BIN1_BIRC3',
 'm_BMPR1B_BMPR2',
 'm_BRCA1_BRCA2',
 'm_BUB1_BUB1B',
 'm_C1QC_C1R',
 'm_C5AR1_C8A',
 'm_CA4_CA6',
 'm_CACNA1A_CACNA1B',
 'm_CADM3_CALB2',
 'm_CALCRL_CALML5',
 'm_CALU_CAMK1D',
 'm_CAP2_CAPN9',
 'm_CCDC28A_CCK',
 'm_CCP110_CCR1',
 'm_CCR5_CCR8',
 'm_CD38_CD4',
 'm_CD86_CD96',
 'm_CDC14B_CDC25A',
 'm_CDCP1_CDH13',
 'm_CDH16_CDH4',
 'm_CEL_CELSR1',
 'm_CENPJ_CEP192',
 'm_CEP250_CFH',
 'm_CFHR2_CFI',
 'm_CFTR_CHAF1A',
 'm_CHRNG_CHST1',
 'm_CHST12_CHST4',
 'm_CIDEA_CIITA',
 'm_CLDN19_CLDN6',
 'm_CLEC5A_CLGN',
 'm_CLPS_CLVS1',
 'm_CNDP2_CNOT6',
 'm_CNTRL_COL16A1',
 'm_COL17A1_COL1A1',
 'm_COL4A1_COL4A2',
 'm_COPB1_COPB2',
 'm_CPB1_CPOX',
 'm_CPT1A_CR1',
 'm_CRISP2_CRLF2',
 'm_CRP_CSF1',
 'm_CSF2RA_CSF2RB',
 'm_CTNND1_CTNS',
 'm_CUL1_CUL5',
 'm_CYFIP1_CYFIP2',
 'm_CYP17A1_CYP1A1',
 'm_CYP2C18_CYP2S1',
 'm_CYP46A1_CYP4F2',
 'm_DAB2_DAPP1',
 'm_DCC_DCLRE1B',
 'm_DCTN4_DDAH1',
 'm_DDX10_DDX18',
 'm_DENND5A_DGKG',
 'm_DEPDC1_DGCR8',
 'm_DIAPH3_DIO2',
 'm_DLG4_DLG5',
 'm_DLL1_DMTN',
 'm_DNAJA4_DNAJB4',
 'm_DNMBP_DNMT1',
 'm_DNTTIP2_DOCK10',
 'm_DOCK9_DONSON',
 'm_DRC1_DTNA',
 'm_DSC1_DSC2',
 'm_DYNC1H1_DYRK1A',
 'm_DYRK3_E2F8',
 'm_ECM1_EDC4',
 'm_EHHADH_EIF2AK2',
 'm_EIF2AK3_EIF3B',
 'm_EIF4G3_ELF1',
 'm_ELK4_ELN',
 'm_ENPEP_ENPP1',
 'm_EOMES_EPB42',
 'm_EPB41L3_EPHA5',
 'm_ERBB2_ERBB3',
 'm_EREG_ERGIC3',
 'm_ERN1_ESR2',
 'm_ETS1_EVI5',
 'm_EZH1_EZH2',
 'm_F13A1_F13B',
 'm_F2RL2_F7',
 'm_FAP_FARSA',
 'm_FASLG_FBLN1',
 'm_FBLN2_FBN1',
 'm_FBXO7_FBXW11',
 'm_FERMT2_FGD4',
 'm_FGFR1_FGL2',
 'm_FLNB_FLNC',
 'm_FMOD_FN1',
 'm_FOXA2_FOXO1',
 'm_FZD2_FZD7',
 'm_GABBR1_GAD1',
 'm_GAPDH_GART',
 'm_GAPVD1_GATA1',
 'm_GCK_GCKR',
 'm_GINS4_GJA5',
 'm_GJA1_GLI1',
 'm_GLUD1_GLUL',
 'm_GNAI3_GNAS',
 'm_GOLGA4_GP1BA',
 'm_GPC1_GPD1',
 'm_GPR18_GPR65',
 'm_GPR3_GPRC5B',
 'm_GREM1_GRID2',
 'm_GSN_GSR',
 'm_HADHB_HBB',
 'm_HAX1_HBEGF',
 'm_HCLS1_HDAC9',
 'm_HDLBP_HELLS',
 'm_HEYL_HGFAC',
 'm_HIPK2_HIRA',
 'm_HMGCL_HMGCS2',
 'm_HMMR_HMOX1',
 'm_HR_HS3ST1',
 'm_HSP90B1_HSPA4L',
 'm_HSPH1_HTR1B',
 'm_IFNAR2_IGF1',
 'm_IGF1R_IGFBP1',
 'm_IKZF1_IL10RA',
 'm_IL18R1_IL18RAP',
 'm_IL1B_IL2RB',
 'm_IL1R1_IL1RL1',
 'm_INHBE_INPPL1',
 'm_IP6K1_IRAK4',
 'm_IRS1_IRS4',
 'm_ISG20L2_ITGA6',
 'm_ITGA5_ITGAE',
 'm_ITGAM_ITGB1BP2',
 'm_ITGB8_ITGBL1',
 'm_ITIH4_ITSN1',
 'm_JAK1_JAK2',
 'm_KAZN_KCND1',
 'm_KCNH1_KCNH2',
 'm_KCNN1_KCNN4',
 'm_KDM4B_KDM6B',
 'm_KIF13B_KIF15',
 'm_KIF1B_KIF20A',
 'm_KIF5B_KIF5C',
 'm_KIFC3_KLC1',
 'm_KLK11_KLK8',
 'm_KLK7_KLKB1',
 'm_KRT13_KRT31',
 'm_KRT4_KRT5',
 'm_LAMA1_LAMA2',
 'm_LATS1_LBR',
 'm_LATS2_LAYN',
 'm_LDLR_LEPR',
 'm_LGMN_LIFR',
 'm_LIMA1_LIPE',
 'm_LLGL2_LMO2',
 'm_LOXL2_LPIN1',
 'm_LPIN2_LRP1',
 'm_LTBP1_LTBP2',
 'm_LUM_LY75',
 'm_MADD_MAGEE1',
 'm_MAN1A1_MAOB',
 'm_MAPKAPK3_MAPT',
 'm_MASP2_MAST3',
 'm_MCCC2_MCM6',
 'm_MDH1_MED13L',
 'm_MEP1A_MEP1B',
 'm_MMP10_MMP3',
 'm_MMP8_MMS22L',
 'm_MOCOS_MON2',
 'm_MTHFD1_MTOR',
 'm_MYBPH_MYF6',
 'm_MYB_MYBPC3',
 'm_MYH1_MYH2',
 'm_MYL2_MYLK',
 'm_MYO9B_MYOF',
 'm_MYOM2_NAA11',
 'm_NAP1L2_NCAM1',
 'm_NCOA3_NCOA6',
 'm_NEDD4L_NEK2',
 'm_NEK7_NELFB',
 'm_NID2_NIN',
 'm_NLGN2_NLRC5',
 'm_NNT_NOD1',
 'm_NOP14_NOP2',
 'm_NOS1_NOTCH4',
 'm_NPHS1_NPY1R',
 'm_NR3C2_NRCAM',
 'm_NRP2_NRXN2',
 'm_NTNG1_NTRK3',
 'm_NUFIP1_NUP107',
 'm_NUP153_NUP205',
 'm_NUP98_OAT',
 'm_ONECUT1_OPA1',
 'm_OSBP2_OSM',
 'm_OXSR1_OXTR',
 'm_P2RY14_P4HA1',
 'm_PAK3_PALLD',
 'm_PAPOLB_PARN',
 'm_PARP2_PARP9',
 'm_PAX4_PC',
 'm_PCDH1_PCLO',
 'm_PCK1_PCSK1',
 'm_PDE4DIP_PDE6B',
 'm_PDGFC_PDGFRB',
 'm_PDLIM1_PDP1',
 'm_PEBP1_PEF1',
 'm_PES1_PEX11A',
 'm_PEX16_PEX2',
 'm_PGF_PGK1',
 'm_PHEX_PHF3',
 'm_PHTF2_PIAS2',
 'm_PIGR_PIK3CB',
 'm_PIK3CG_PIKFYVE',
 'm_PKIA_PKP3',
 'm_PLA2G7_PLAGL1',
 'm_PLCB1_PLCB4',
 'm_PLOD2_PLOD3',
 'm_POLD1_POLE',
 'm_PPARGC1A_PPFIA4',
 'm_PPP1R3C_PPRC1',
 'm_PRKAR2B_PRKCG',
 'm_PRKG2_PRMT5',
 'm_PRPF3_PRPF4B',
 'm_PTGFR_PTGIS',
 'm_PTK2B_PTPN14',
 'm_PTPRC_PTPRD',
 'm_PTPRE_PTPRG',
 'm_PYGL_PYGM',
 'm_RABEPK_RACGAP1',
 'm_RABGAP1_RABGAP1L',
 'm_RAD50_RAD54L',
 'm_RAF1_RALGDS',
 'm_RALBP1_RAN',
 'm_RASA2_RASAL2',
 'm_RELN_RET',
 'm_RIPK2_RMDN3',
 'm_RNASEL_RNF19A',
 'm_RNF213_RNF31',
 'm_RPL22_RPL39',
 'm_RPS6KA2_RPS6KA5',
 'm_RREB1_RRP12',
 'm_RXRG_RYR2',
 'm_SAMD9_SAMD9L',
 'm_SCG2_SCN8A',
 'm_SCN9A_SCUBE1',
 'm_SCUBE2_SDC3',
 'm_SEC14L1_SEC31A',
 'm_SELE_SELP',
 'm_SERPINA10_SERPINA3',
 'm_SERPINB2_SERPING1',
 'm_SF3B3_SFMBT1',
 'm_SGCG_SH3BGR',
 'm_SHROOM2_SIDT2',
 'm_SLAMF1_SLC10A3',
 'm_SLC19A2_SLC1A1',
 'm_SLC22A18_SLC24A3',
 'm_SLC27A2_SLC27A5',
 'm_SLC2A2_SLC2A4',
 'm_SLC4A1_SLC6A12',
 'm_SLC6A14_SLC6A6',
 'm_SLC7A11_SLC7A2',
 'm_SMAD3_SMC4',
 'm_SMTN_SMURF2',
 'm_SOCS5_SORBS1',
 'm_SP1_SP110',
 'm_SPEG_SPINT2',
 'm_SPTAN1_SPTBN1',
 'm_SREBF2_SRF',
 'm_ST8SIA4_STAB1',
 'm_STAG3_STAT4',
 'm_STC1_STEAP4',
 'm_STX3_STXBP1',
 'm_SUCLG2_SUN2',
 'm_SVIL_SYBU',
 'm_SYCP1_SYK',
 'm_SYNPO_SYT12',
 'm_TAS2R4_TAT',
 'm_TDRD7_TEAD4',
 'm_TENM2_TEX15',
 'm_TFAP2B_TFDP1',
 'm_TGFBRAP1_TGM1',
 'm_TG_TGFBI',
 'm_THBS1_THEG',
 'm_THRB_THSD4',
 'm_TKT_TLR1',
 'm_TLR2_TLR3',
 'm_TLR8_TM7SF3',
 'm_TMEM100_TMEM176B',
 'm_TMEM176A_TMPRSS3',
 'm_TNFRSF21_TNFRSF8',
 'm_TRIM25_TRIM28',
 'm_TRIM5_TRIO',
 'm_TRO_TSC1',
 'm_TSPAN8_TST',
 'm_TTPA_TUBGCP2',
 'm_TUBGCP3_TUBGCP6',
 'm_TYR_TYRO3',
 'm_UGCG_UNC13B',
 'm_USP8_UTP20',
 'm_VAV2_VCAN',
 'm_VWF_WDR33',
 'm_WFS1_WNK4',
 'm_WSB1_WWC1',
 'm_YBX2_YTHDC1',
 'm_ZBTB17_ZC3H12A',
 'm_ZEB1_ZFPM2',
 'm_ZMIZ1_ZNF185',
 'm_ZPBP_ZYX'}

In [261]:
total

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,m_USP8_UTP20,m_VAV2_VCAN,m_VWF_WDR33,m_WFS1_WNK4,m_WSB1_WWC1,m_YBX2_YTHDC1,m_ZBTB17_ZC3H12A,m_ZEB1_ZFPM2,m_ZMIZ1_ZNF185,m_ZPBP_ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,R698K,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,Y904H,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,WT,WT,WT,WT,WT,WT,WT,WT,T86S,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2542,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2543,WT,WT,WT,WT,L217I,R5M,G606D,P1444L P1439L P1383L P1404L P970L,P752H,WT,...,P337H P260H,P163L,C898C,P19P,W38X,N102N,WT,E999D E1049D E1050D E1067D E1052D E992D E978D ...,D1051Tfs,N252I N251I
2544,WT,WT,WT,WT,WT,WT,R1517H,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2545,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [271]:
total = pd.read_csv('total_92.csv')
total

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,m_USP8_UTP20,m_VAV2_VCAN,m_VWF_WDR33,m_WFS1_WNK4,m_WSB1_WWC1,m_YBX2_YTHDC1,m_ZBTB17_ZC3H12A,m_ZEB1_ZFPM2,m_ZMIZ1_ZNF185,m_ZPBP_ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,R698K,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,Y904H,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8742,WT,WT,WT,WT,WT,WT,WT,WT,T86S,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
8743,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
8744,WT,WT,WT,WT,L217I,R5M,G606D,P1444L P1439L P1383L P1404L P970L,P752H,WT,...,P337H P260H,P163L,C898C,P19P,W38X,N102N,WT,E999D E1049D E1050D E1067D E1052D E992D E978D ...,D1051Tfs,N252I N251I
8745,WT,WT,WT,WT,WT,WT,R1517H,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
8746,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [213]:
import numpy as np
# 병합할 두 개의 컬럼이 있다고 가정
col1 = 'PARP9'
col2 = 'PARP2'
col3 = 'PARP12'
col4 = 'PARP14'

# 두 컬럼을 병합하여 하나의 새로운 컬럼 생성 (값이 없는 경우 다른 컬럼의 값 사용)
data['merged_parp2_9'] =  np.where(df[col1] != 'WT', df[col1], df[col2])
data['merged_parp12_14'] =  np.where(df[col1] != 'WT', df[col3], df[col4])

# 기존의 두 컬럼 삭제
# df.drop([col1, col2,col3,col4], axis=1, inplace=True)

# 병합된 컬럼 출력
#print(.head())

In [ ]:
import numpy as np
import pandas as pd

# 예시 데이터프레임 생성
data = {
    'col1': ['WT', 'A', 'B', 'C'],
    'col2': ['X', 'WT', 'Y', 'Z'],
    'col3': ['WT', 'M', 'N', 'O']
}
df = pd.DataFrame(data)

# 세 컬럼을 병합하여 하나의 새로운 컬럼 생성
df['merged_column'] = np.where(df['col1'] != 'WT', df['col1'], 
                                np.where(df['col2'] != 'WT', df['col2'], 
                                        df['col3']))

print(df)

In [159]:
# Get the index of the 'PARP2' column
parp2_index = df.columns.get_loc('PARP2')

# Show the result (adding 1 to convert from 0-based index to 1-based index)
parp2_index + 1

2828

In [ ]:
df.iloc[:,2828]

In [ ]:
import pandas as pd

# 데이터 불러오기
file_path = '/mnt/data/train_sample.csv'
df = pd.read_csv(file_path)

# 컬럼 수
num_columns = df.shape[1]

# 10개씩 나누어 접근하기
for i in range(0, num_columns, 10):
    # 현재 인덱스의 시작과 끝
    start_index = i
    end_index = min(i + 10, num_columns)  # 마지막 인덱스는 컬럼 수를 초과하지 않도록 설정
    
    # 선택된 컬럼 출력
    print(f"Columns from {start_index} to {end_index - 1}:")
    print(df.iloc[:, start_index:end_index].head(), "\n")  # 처음 몇 개의 행을 출력

In [148]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy.stats import pearsonr, chisquare
from scipy.special import kl_div

# 변수 설정
colA = 'PARP2'
colB = 'PARP9'

# 데이터프레임에서 colA가 'WT'가 아닌 샘플의 'SUBCLASS' 값 카운트
colA_distribution = df[df[colA].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()

# 데이터프레임에서 colB가 'WT'가 아닌 샘플의 'SUBCLASS' 값 카운트
colB_distribution = df[df[colB].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()

# 두 분포의 인덱스를 맞추기
combined_distribution = pd.DataFrame({
    colA: colA_distribution,
    colB: colB_distribution
}).fillna(0)  # NaN 값을 0으로 채움

# 1. 코사인 유사도
cosine_sim = cosine_similarity(combined_distribution.T)[0][1]

# 2. 피어슨 상관계수
pearson_corr, _ = pearsonr(combined_distribution[colA], combined_distribution[colB])

# 3. 지니 계수 (Gini Coefficient)
def gini_coefficient(data):
    n = len(data)
    if n == 0:
        return 0
    return (np.sum(np.abs(data[:, None] - data)) / (2 * n * np.mean(data)))

gini_colA = gini_coefficient(combined_distribution[colA].values)
gini_colB = gini_coefficient(combined_distribution[colB].values)

# 4. 킬리안 거리 (Jensen-Shannon Divergence)
def jensen_shannon(p, q):
    p = p / np.sum(p)
    q = q / np.sum(q)
    m = 0.5 * (p + q)
    return 0.5 * (kl_div(p, m).sum() + kl_div(q, m).sum())

js_divergence = jensen_shannon(combined_distribution[colA].values, combined_distribution[colB].values)

# 5. 카이제곱 통계
# 각 분포의 값을 정리하여 0으로 채운 후 두 배열의 길이를 맞추기

# 관측 빈도 및 기대 빈도 배열로 변환
observed = combined_distribution[colA].values.astype(float)
expected = combined_distribution[colB].values.astype(float)

# 두 배열의 총합을 맞추기 위해 빈도 배열 조정
total_observed = np.sum(observed)
total_expected = np.sum(expected)

if total_observed != total_expected:
    # 비율을 계산하여 총합이 동일하게 맞추기
    expected = (expected / total_expected) * total_observed

# 카이제곱 통계 계산
chi2_stat, p_value = chisquare(observed, expected)

# 결과 출력
print(f"Cosine Similarity: {cosine_sim}")
print(f"Pearson Correlation: {pearson_corr}")
print(f"Gini Coefficient ({colA}): {gini_colA}, Gini Coefficient ({colB}): {gini_colB}")
print(f"Jensen-Shannon Divergence: {js_divergence}")
print(f"Chi-Squared Statistic: {chi2_stat}, p-value: {p_value}")

Cosine Similarity: 0.922253258678133
Pearson Correlation: 0.8571265306075808
Gini Coefficient (PARP2): 11.108108108108109, Gini Coefficient (PARP9): 11.058823529411764
Jensen-Shannon Divergence: 0.09587715485571699
Chi-Squared Statistic: inf, p-value: 0.0

In [152]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy.stats import pearsonr, chisquare
from scipy.special import kl_div

# 변수 설정
colA = 'PARP2'
colB = 'PARP14'

# 데이터프레임에서 colA가 'WT'가 아닌 샘플의 'SUBCLASS' 값 카운트
colA_distribution = df[df[colA].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()

# 데이터프레임에서 colB가 'WT'가 아닌 샘플의 'SUBCLASS' 값 카운트
colB_distribution = df[df[colB].apply(lambda x: x != 'WT')]['SUBCLASS'].value_counts()

# 두 분포의 인덱스를 맞추기
combined_distribution = pd.DataFrame({
    colA: colA_distribution,
    colB: colB_distribution
}).fillna(0)  # NaN 값을 0으로 채움

# 1. 코사인 유사도
cosine_sim = cosine_similarity(combined_distribution.T)[0][1]

# 2. 피어슨 상관계수
pearson_corr, _ = pearsonr(combined_distribution[colA], combined_distribution[colB])

# 3. 지니 계수 (Gini Coefficient)
def gini_coefficient(data):
    n = len(data)
    if n == 0:
        return 0
    return (np.sum(np.abs(data[:, None] - data)) / (2 * n * np.mean(data)))

gini_colA = gini_coefficient(combined_distribution[colA].values)
gini_colB = gini_coefficient(combined_distribution[colB].values)

# 4. 킬리안 거리 (Jensen-Shannon Divergence)
def jensen_shannon(p, q):
    p = p / np.sum(p)
    q = q / np.sum(q)
    m = 0.5 * (p + q)
    return 0.5 * (kl_div(p, m).sum() + kl_div(q, m).sum())

js_divergence = jensen_shannon(combined_distribution[colA].values, combined_distribution[colB].values)

# 5. 카이제곱 통계
# 각 분포의 값을 정리하여 0으로 채운 후 두 배열의 길이를 맞추기

# 관측 빈도 및 기대 빈도 배열로 변환
observed = combined_distribution[colA].values.astype(float)
expected = combined_distribution[colB].values.astype(float)

# 두 배열의 총합을 맞추기 위해 빈도 배열 조정
total_observed = np.sum(observed)
total_expected = np.sum(expected)

if total_observed != total_expected:
    # 비율을 계산하여 총합이 동일하게 맞추기
    expected = (expected / total_expected) * total_observed

# 카이제곱 통계 계산
chi2_stat, p_value = chisquare(observed, expected)

# 결과 출력
print(f"Cosine Similarity: {cosine_sim}")
print(f"Pearson Correlation: {pearson_corr}")
print(f"Gini Coefficient ({colA}): {gini_colA}, Gini Coefficient ({colB}): {gini_colB}")
print(f"Jensen-Shannon Divergence: {js_divergence}")
print(f"Chi-Squared Statistic: {chi2_stat}, p-value: {p_value}")

Cosine Similarity: 0.8887673641445807
Pearson Correlation: 0.8016396097635758
Gini Coefficient (PARP2): 13.108108108108109, Gini Coefficient (PARP14): 9.598290598290598
Jensen-Shannon Divergence: 0.09615339052888061
Chi-Squared Statistic: 17.808891664774016, p-value: 0.6610639269067848

In [ ]:
from joblib import Parallel, delayed

# 병렬로 상관계수 계산
def calculate_corr(df_part):
    return df_part.corr()

# 데이터를 나누어 병렬로 상관계수 계산 수행
n_jobs = -1  # CPU 코어 수에 맞게 조정
correlation_matrices = Parallel(n_jobs=n_jobs)(delayed(calculate_corr)(df.iloc[:, i:i+1000]) for i in range(0, df.shape[1], 1000))

# 계산된 상관계수 행렬을 조합하여 사용

In [67]:
import pandas as pd
import numpy as np
from joblib import Parallel, delayed
df = data 
# 1. 변동성이 적은 피처 제거
def remove_low_variance_features(df, threshold=0.95):
    non_variance_cols = [col for col in df.columns if df[col].value_counts(normalize=True).values[0] > threshold]
    df_reduced = df.drop(columns=non_variance_cols)
    return df_reduced

# 2. 상관계수 계산 후 유사한 피처 쌍 찾기 (임계값 이상인 컬럼 쌍 반환)
def find_similar_columns(correlation_matrix, threshold=0.95):
    similar_columns = []
    for i in range(len(correlation_matrix.columns)):
        for j in range(i + 1, len(correlation_matrix.columns)):
            col1 = correlation_matrix.columns[i]
            col2 = correlation_matrix.columns[j]
            corr_value = correlation_matrix.iloc[i, j]
            if abs(corr_value) > threshold:
                similar_columns.append((col1, col2))
    return similar_columns

# 3. 유사한 피처들 병합 (WT가 아닌 값을 우선하여 병합)
def merge_similar_columns(df, col_pairs):
    for col1, col2 in col_pairs:
        if col1 in df.columns and col2 in df.columns:
            # WT가 아닌 값을 우선적으로 선택하여 병합
            df[col1 + '_merged'] = np.where(df[col1] != 'WT', df[col1], df[col2])
            # 기존의 두 컬럼 삭제
            df.drop([col1, col2], axis=1, inplace=True)
    return df

# 4. 병렬로 상관계수 계산
def calculate_corr(df_part):
    return df_part.corr()

# 5. 통합된 실행 함수
def process_large_dataframe(df, sample_size=1000, corr_threshold=0.95, variance_threshold=0.95, chunk_size=1000):
    # 5.1. 변동성이 적은 피처 제거
    df_reduced = remove_low_variance_features(df, variance_threshold)
    
    # 5.2. 데이터 샘플링 (원본 데이터의 일부만 사용하여 상관계수 계산)
    sample_df = df_reduced.sample(n=sample_size, random_state=42)

    # 5.3. 병렬로 상관계수 계산 (데이터를 나누어 계산)
    n_jobs = -1  # CPU 코어 수에 맞게 조정
    feature_groups = [sample_df.iloc[:, i:i+chunk_size] for i in range(0, sample_df.shape[1], chunk_size)]
    correlation_matrices = Parallel(n_jobs=n_jobs)(delayed(calculate_corr)(group) for group in feature_groups)

    # 5.4. 상관계수가 높은 피처 쌍 찾기 및 병합
    for corr_matrix in correlation_matrices:
        similar_columns = find_similar_columns(corr_matrix, corr_threshold)
        df_reduced = merge_similar_columns(df_reduced, similar_columns)

    return df_reduced

# 데이터프레임 예시 (실제로는 df = pd.read_csv('your_dataframe.csv')로 로드)
# df = pd.read_csv('your_large_dataframe.csv')

# 4,000개 이상의 피처를 가진 데이터프레임 처리
processed_df = process_large_dataframe(df, sample_size=1000, corr_threshold=0.95, variance_threshold=0.95, chunk_size=1000)

# 결과 출력
print(processed_df.head())

   AHNAK  APC  ATRX  BRAF  COL6A3  DMD  DST  IDH1  KMT2D  MXRA5  ...  PKHD1  \
0      0    0     0     0       0    0    0     0      0      0  ...      0
1      0    0     1     0       0    0    0     0      0      0  ...      0
2      0    0     0     0       0    0    0     1      0      0  ...      0
3      0    0     0     0       0    0    0     0      0      0  ...      0
4      1    0     0     0       0    0    1     0      0      0  ...      0

   PLEC  PTEN  RELN  RYR1  RYR2  SPTA1  SYNE1  TP53  VHL
0     0     0     0     0     0      0      0     0    0
1     0     0     0     0     0      0      0     1    0
2     0     0     1     1     0      0      0     0    0
3     0     0     0     0     0      0      0     0    0
4     0     1     0     0     0      0      1     1    0

[5 rows x 23 columns]

In [60]:
import pandas as pd
import numpy as np
from joblib import Parallel, delayed

# 1. 변동성이 적은 피처 제거
def remove_low_variance_features(df, threshold=0.95):
    non_variance_cols = [col for col in df.columns if df[col].value_counts(normalize=True).values[0] > threshold]
    df_reduced = df.drop(columns=non_variance_cols)
    return df_reduced

# 2. 상관계수 계산 후 유사한 피처 쌍 찾기 (임계값 이상인 컬럼 쌍 반환)
def find_similar_columns(correlation_matrix, threshold=0.95):
    similar_columns = []
    for i in range(len(correlation_matrix.columns)):
        for j in range(i + 1, len(correlation_matrix.columns)):
            col1 = correlation_matrix.columns[i]
            col2 = correlation_matrix.columns[j]
            corr_value = correlation_matrix.iloc[i, j]
            if abs(corr_value) > threshold:
                similar_columns.append((col1, col2))
    return similar_columns

# 3. 유사한 피처들 병합 (WT가 아닌 값을 우선하여 병합, 기존 컬럼 유지)
def merge_similar_columns(df, col_pairs):
    for col1, col2 in col_pairs:
        if col1 in df.columns and col2 in df.columns:
            # WT가 아닌 값을 우선적으로 선택하여 병합 (새로운 병합된 컬럼 생성)
            merged_col_name = col1 + '_' + col2 + '_merged'
            df[merged_col_name] = np.where(df[col1] != 'WT', df[col1], df[col2])
    return df

# 4. 병렬로 상관계수 계산
def calculate_corr(df_part):
    return df_part.corr()

# 5. 통합된 실행 함수
def process_large_dataframe(df, sample_size=1000, corr_threshold=0.95, variance_threshold=0.95, chunk_size=1000):
    # 5.1. 변동성이 적은 피처 제거
    df_reduced = remove_low_variance_features(df, variance_threshold)
    
    # 5.2. 데이터 샘플링 (원본 데이터의 일부만 사용하여 상관계수 계산)
    sample_df = df_reduced.sample(n=sample_size, random_state=42)

    # 5.3. 병렬로 상관계수 계산 (데이터를 나누어 계산)
    n_jobs = -1  # CPU 코어 수에 맞게 조정
    feature_groups = [sample_df.iloc[:, i:i+chunk_size] for i in range(0, sample_df.shape[1], chunk_size)]
    correlation_matrices = Parallel(n_jobs=n_jobs)(delayed(calculate_corr)(group) for group in feature_groups)

    # 5.4. 상관계수가 높은 피처 쌍 찾기 및 병합
    for corr_matrix in correlation_matrices:
        similar_columns = find_similar_columns(corr_matrix, corr_threshold)
        df = merge_similar_columns(df, similar_columns)

    return df

# 데이터프레임 예시 (실제로는 df = pd.read_csv('your_dataframe.csv')로 로드)
# df = pd.read_csv('your_large_dataframe.csv')

# 4,000개 이상의 피처를 가진 데이터프레임 처리
processed_df = process_large_dataframe(df, sample_size=1000, corr_threshold=0.95, variance_threshold=0.95, chunk_size=1000)

# 결과 출력
print(processed_df.head())

   A2M  AAAS  AADAT  AARS1  ABAT  ABCA1  ABCA2  ABCA3  ABCA4  ABCA5  ...  \
0    0     0      0      0     0      0      0      0      0      0  ...
1    0     0      0      0     0      0      0      0      0      0  ...
2    1     0      0      0     0      0      0      0      0      0  ...
3    0     0      0      0     0      0      0      0      0      0  ...
4    0     0      0      0     0      0      0      0      0      0  ...

   ZNF292  ZNF365  ZNF639  ZNF707  ZNFX1  ZNRF4  ZPBP  ZW10  ZWINT  ZYX
0       0       0       0       0      0      0     0     0      0    0
1       0       0       0       0      0      0     0     0      0    0
2       0       0       0       0      0      0     0     0      0    0
3       0       0       0       0      0      0     0     0      0    0
4       0       0       0       0      0      0     0     0      0    0

[5 rows x 4358 columns]

### 전처리2. total에서, 컬럼명+cell값 첫글자로 data Labeling 1차 변환, 이후 2차에서 Label Encoder XX

In [272]:
def process_cell(value, col_name):
    if value == 'WT':  # 값이 'WT'이면 빈 문자열
        return ''
    elif isinstance(value, str):  # 문자열일 때는 첫 글자 + 컬럼명
        return  value[0]+ col_name
    elif isinstance(value, (int, float)):  # 숫자일 때는 첫 숫자(소수점 전) + 컬럼명
        return  str(value)[0] + col_name
    return value  # 그 외에는 원래 값 반환

# 각 셀을 처리하는 함수 적용
for col in total.columns:
    total[col] = total[col].apply(lambda x: process_cell(x, col))

In [274]:
total

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,m_USP8_UTP20,m_VAV2_VCAN,m_VWF_WDR33,m_WFS1_WNK4,m_WSB1_WWC1,m_YBX2_YTHDC1,m_ZBTB17_ZC3H12A,m_ZEB1_ZFPM2,m_ZMIZ1_ZNF185,m_ZPBP_ZYX
0,,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,Rm_VWF_WDR33,,,,,,,
3,,,,,,,,,,,...,,,,,,,,Ym_ZEB1_ZFPM2,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8742,,,,,,,,,TABCA9,,...,,,,,,,,,,
8743,,,,,,,,,,,...,,,,,,,,,,
8744,,,,,LABCA1,RABCA3,GABCA4,PABCA8,PABCA9,,...,Pm_USP8_UTP20,Pm_VAV2_VCAN,Cm_VWF_WDR33,Pm_WFS1_WNK4,Wm_WSB1_WWC1,Nm_YBX2_YTHDC1,,Em_ZEB1_ZFPM2,Dm_ZMIZ1_ZNF185,Nm_ZPBP_ZYX
8745,,,,,,,RABCA4,,,,...,,,,,,,,,,
8746,,,,,,,,,,,...,,,,,,,,,,

In [276]:
nRows = df.shape[0]
data = total[:nRows]
df_test = total[nRows:]

In [277]:
data

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,m_USP8_UTP20,m_VAV2_VCAN,m_VWF_WDR33,m_WFS1_WNK4,m_WSB1_WWC1,m_YBX2_YTHDC1,m_ZBTB17_ZC3H12A,m_ZEB1_ZFPM2,m_ZMIZ1_ZNF185,m_ZPBP_ZYX
0,,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,Rm_VWF_WDR33,,,,,,,
3,,,,,,,,,,,...,,,,,,,,Ym_ZEB1_ZFPM2,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,,,,,,,,,,,...,,,,,,,,,,
6197,,,,,,,,,,,...,,,,,,,,,,
6198,,,,,,,,,,,...,,,,,,,,,,
6199,,,,,,,,,,,...,,,,,,,,,,
6200,,,,,,,,,LABCA9,,...,,,,Vm_WFS1_WNK4,,,,,,

In [278]:
total

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,m_USP8_UTP20,m_VAV2_VCAN,m_VWF_WDR33,m_WFS1_WNK4,m_WSB1_WWC1,m_YBX2_YTHDC1,m_ZBTB17_ZC3H12A,m_ZEB1_ZFPM2,m_ZMIZ1_ZNF185,m_ZPBP_ZYX
0,,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,Rm_VWF_WDR33,,,,,,,
3,,,,,,,,,,,...,,,,,,,,Ym_ZEB1_ZFPM2,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8742,,,,,,,,,TABCA9,,...,,,,,,,,,,
8743,,,,,,,,,,,...,,,,,,,,,,
8744,,,,,LABCA1,RABCA3,GABCA4,PABCA8,PABCA9,,...,Pm_USP8_UTP20,Pm_VAV2_VCAN,Cm_VWF_WDR33,Pm_WFS1_WNK4,Wm_WSB1_WWC1,Nm_YBX2_YTHDC1,,Em_ZEB1_ZFPM2,Dm_ZMIZ1_ZNF185,Nm_ZPBP_ZYX
8745,,,,,,,RABCA4,,,,...,,,,,,,,,,
8746,,,,,,,,,,,...,,,,,,,,,,

# 데이터 변환 1차완료

In [5]:
expert = pd.read_csv('../reference_data/BRCA.csv')
asso =pd.read_csv('../expert_r/BRCA-associ.csv')

upg = pd.read_csv('../expert_r/BRCA-upregulated.csv')
tup = set(upg['g.name'])
downg = pd.read_csv('../expert_r/BRCA-down.csv')
tdown = set(downg['g.name'])

In [ ]:

#for d in disease_list : 

tdf = df[df['SUBCLASS']=='BRCA']
td= tdf.apply(lambda x : x!='WT').agg(sum).reset_index(name='count').sort_values(by='count', ascending=False)
#print(len(td[td['count']>0]), tdf.shape[0])

t1 = set(td[td['count']>0][2:]['index'])

#td[td['count']>5]
td[td['count']>0][1:]#['index']

In [ ]:
df_test['COL12A1'].value_counts()

In [ ]:
df_test[df_test['S100A12']!='']

In [77]:
df['COL12A1'].value_counts().reset_index().sort_values(by='COL12A1', ascending=False).to_csv('col12a1.csv')

In [ ]:
t1.intersection(set(asso['g.name']))

In [ ]:
#하위개수 1500
len(set(td[td['count']>0][1500:]['index']).intersection(tup))

In [ ]:
len(set(td[td['count']>0][1500:]['index']).intersection(tdown))

In [ ]:
len(set(td[td['count']>0][1500:]['index']).intersection(set(asso['g.name'])))

In [ ]:
len(set(td[td['count']>0][1500:]['index']).intersection(set(expert['g.name'])))

In [ ]:
#상위 개수
set(td[td['count']>0][2:1500]['index']).intersection(tup)

In [ ]:
set(td[td['count']>0][2:1500]['index']).intersection(tdown)

In [ ]:
set(td[td['count']>0][1:1500]['index']).intersection(set(asso['g.name']))

In [ ]:
set(td[td['count']>0][2:1500]['index']).intersection(set(expert['g.name']))

In [ ]:

#for d in disease_list : 

tdf = df[df['SUBCLASS']=='PAAD']
td= tdf.apply(lambda x : x!='WT').agg(sum).reset_index(name='count').sort_values(by='count', ascending=False)
#print(len(td[td['count']>0]), tdf.shape[0])

t1 = set(td[td['count']>0][2:]['index'])

#td[td['count']>5]
td[td['count']>0][2:]#['index']

In [ ]:
len(t1.intersection(tup))

In [ ]:
len(t1.intersection(tdown))

In [ ]:
len(t1.intersection(set(asso['g.name'])))

In [ ]:
len(t1.intersection(set(expert['g.name'])))

In [ ]:
df[df.SUBCLASS=='BRCA']['RNF213'].apply(lambda x : x!='WT').agg(sum)

In [ ]:
df[df.SUBCLASS=='BRCA']['AHNAK'].apply(lambda x : x!='WT').agg(sum)

In [ ]:
df[df.SUBCLASS=='BRCA']['DMD'].apply(lambda x : x!='WT').agg(sum)

In [ ]:
df[df.SUBCLASS=='BRCA']['DST'].apply(lambda x : x!='WT').agg(sum)

In [ ]:
t1.intersection(set(expert['g.name']))

In [ ]:
t1.intersection(set(asso['g.name']))

In [ ]:

for g in asso['g.name']:
    try :
        print(df[df.SUBCLASS=='BRCA'][g].apply(lambda x : x!='WT').agg(sum))
    except KeyError:
        print(g)

In [ ]:
data

In [ ]:
df_test

In [5]:
#1. train data에서 모두 WT인 거 삭제하기 
#td = data.apply(lambda x : x=='WT').agg(sum , axis=1).sort_values(ascending=False) == data.shape[1]
#df.drop(list(td[td].index), inplace=True)

#data = df.drop(columns=['ID', 'SUBCLASS'])

In [6]:
#df.iloc[td[td].index].SUBCLASS.value_counts()

In [7]:
#too many 변이, ROWs DELETE
#for d in disease_list:
#    td = df[df['SUBCLASS']==d].apply(lambda x : x!='WT').agg(sum , axis=1).sort_values(ascending=False) >= 800 #706
#    if td[td].sum()> 0:
#        print(d, list(td[td].index))
#        df.drop(list(td[td].index), inplace=True)

# Feature 선택을 위한 데이터 2차변환

### y target값만 LabelEncoding

In [279]:
y = df['SUBCLASS']
encoder2 = LabelEncoder()
y = encoder2.fit_transform(y)

In [280]:
total

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,m_USP8_UTP20,m_VAV2_VCAN,m_VWF_WDR33,m_WFS1_WNK4,m_WSB1_WWC1,m_YBX2_YTHDC1,m_ZBTB17_ZC3H12A,m_ZEB1_ZFPM2,m_ZMIZ1_ZNF185,m_ZPBP_ZYX
0,,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,Rm_VWF_WDR33,,,,,,,
3,,,,,,,,,,,...,,,,,,,,Ym_ZEB1_ZFPM2,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8742,,,,,,,,,TABCA9,,...,,,,,,,,,,
8743,,,,,,,,,,,...,,,,,,,,,,
8744,,,,,LABCA1,RABCA3,GABCA4,PABCA8,PABCA9,,...,Pm_USP8_UTP20,Pm_VAV2_VCAN,Cm_VWF_WDR33,Pm_WFS1_WNK4,Wm_WSB1_WWC1,Nm_YBX2_YTHDC1,,Em_ZEB1_ZFPM2,Dm_ZMIZ1_ZNF185,Nm_ZPBP_ZYX
8745,,,,,,,RABCA4,,,,...,,,,,,,,,,
8746,,,,,,,,,,,...,,,,,,,,,,

### 자체 라벨링 Label Encoder XX

In [281]:
# 데이터프레임을 셀 단위로 고유값으로 변환
unique_values, unique_indices = pd.factorize(total.values.ravel())

# 고유값을 다시 데이터프레임 모양으로 변환
total_transformed = pd.DataFrame(unique_values.reshape(total.shape), columns=total.columns)

print(total_transformed)

      AAAS  AADAT  AARS1  ABAT  ABCA1  ABCA3  ABCA4  ABCA8  ABCA9  ABCB1  ...  \
0        0      0      0     0      0      0      0      0      0      0  ...
1        0      0      0     0      0      0      0      0      0      0  ...
2        0      0      0     0      0      0      0      0      0      0  ...
3        0      0      0     0      0      0      0      0      0      0  ...
4        0      0      0     0      0      0      0      0      0      0  ...
...    ...    ...    ...   ...    ...    ...    ...    ...    ...    ...  ...
8742     0      0      0     0      0      0      0      0  20524      0  ...
8743     0      0      0     0      0      0      0      0      0      0  ...
8744     0      0      0     0   7353   5746   5302   2220  19367      0  ...
8745     0      0      0     0      0      0   7679      0      0      0  ...
8746     0      0      0     0      0      0      0      0      0      0  ...

      m_USP8_UTP20  m_VAV2_VCAN  m_VWF_WDR33  m_WFS1_WNK4  m_WSB1_WWC1  \
0                0            0            0            0            0
1                0            0            0            0            0
2                0            0          159            0            0
3                0            0            0            0            0
4                0            0            0            0            0
...            ...          ...          ...          ...          ...
8742             0            0            0            0            0
8743             0            0            0            0            0
8744          3893         4518        31418         5416        48026
8745             0            0            0            0            0
8746             0            0            0            0            0

      m_YBX2_YTHDC1  m_ZBTB17_ZC3H12A  m_ZEB1_ZFPM2  m_ZMIZ1_ZNF185  \
0                 0                 0             0               0
1                 0                 0             0               0
2                 0                 0             0               0
3                 0                 0           166               0
4                 0                 0             0               0
...             ...               ...           ...             ...
8742              0                 0             0               0
8743              0                 0             0               0
8744          42651                 0          6020            5088
8745              0                 0             0               0
8746              0                 0             0               0

      m_ZPBP_ZYX
0              0
1              0
2              0
3              0
4              0
...          ...
8742           0
8743           0
8744       40325
8745           0
8746           0

[8747 rows x 4015 columns]

In [282]:
total_transformed

,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA3,ABCA4,ABCA8,ABCA9,ABCB1,...,m_USP8_UTP20,m_VAV2_VCAN,m_VWF_WDR33,m_WFS1_WNK4,m_WSB1_WWC1,m_YBX2_YTHDC1,m_ZBTB17_ZC3H12A,m_ZEB1_ZFPM2,m_ZMIZ1_ZNF185,m_ZPBP_ZYX
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,159,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,166,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8742,0,0,0,0,0,0,0,0,20524,0,...,0,0,0,0,0,0,0,0,0,0
8743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8744,0,0,0,0,7353,5746,5302,2220,19367,0,...,3893,4518,31418,5416,48026,42651,0,6020,5088,40325
8745,0,0,0,0,0,0,7679,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Option1) Feature selection - method with XGB

In [312]:
nRows = df.shape[0]
X = total_transformed[:nRows]
df_test = total_transformed[nRows:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=156)

### 2000개 feature 선택

In [326]:
from sklearn.metrics import accuracy_score
# Step 5: Train an XGBoost model to find important features
xgb_model = xgb.XGBClassifier(n_estimators=100, random_state=42)
xgb_model.fit(X_train, y_train)

# Get feature importances
feature_importances = xgb_model.feature_importances_
sorted_idx = feature_importances.argsort()

# Select top 2000 features based on importance
top_n = 1800  # Adjust this value to select the top N important features
top_features_idx = sorted_idx[-top_n:]

# Step 6: Reduce training and testing data to the top N features
X_train_reduced = X_train.iloc[:, top_features_idx]
X_test_reduced = X_test.iloc[:, top_features_idx]

# Step 7: Train a new XGBoost model on the reduced feature set
best_xgb = xgb.XGBClassifier(n_estimators=100, random_state=42)
best_xgb.fit(X_train_reduced, y_train)

# Step 8: Evaluate the model on the test set
y_pred = best_xgb.predict(X_test_reduced)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy on the reduced feature set: {accuracy}")

Accuracy on the reduced feature set: 0.3401397098334229

In [ ]:
#0.32
#0.34
#0.342

In [327]:
len(top_features_idx)

1800

In [328]:
total_transformed2 = total_transformed.iloc[:, top_features_idx]

## ====##  # 선택된 Feature, total_transformed2에 적용 완료

In [18]:
total_transformed2 = total_transformed.loc[:, list(glist)]

In [19]:
nRows = df.shape[0]
X = total_transformed2[:nRows]
df_test = total_transformed2[nRows:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=156)

In [ ]:
X_train

### option2 끝

# ====

In [20]:
X_test_final = df_test.iloc[:, top_features_idx]

NameError: name 'top_features_idx' is not defined

In [ ]:
y_test_pred = best_xgb.predict(X_test_final)

In [ ]:
y_test_pred

In [ ]:

# Step 11: Decode the predicted class labels back to their original subclass names
y_test_pred_labels = encoder2.inverse_transform(y_test_pred)
res_df0 = pd.DataFrame()
res_df0['ID'] = test_ids
# Step 12: Store the predictions in the test DataFrame
res_df0['SUBCLASS'] = y_test_pred_labels

# Display the first few rows of predictions
res_df0[['SUBCLASS']].value_counts()

In [33]:
res_df0[['ID', 'SUBCLASS']].to_csv('./XGB_FEATURESELECTION.csv',index=False)

# ====

# DMatrix, XGBClassifier 적용

In [329]:
nRows = df.shape[0]
X = total_transformed2[:nRows]
df_test = total_transformed2[nRows:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=156) #shuffle=False,stratify = y, 
print(X_train.shape, X_test.shape)

(4340, 1800) (1861, 1800)

In [314]:
nRows = df.shape[0]
X = total_transformed[:nRows]
df_test = total_transformed[nRows:]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=156) #shuffle=False,stratify = y, 
print(X_train.shape, X_test.shape)

(4340, 4015) (1861, 4015)

In [330]:
dtrain = xgb.DMatrix(data = X_train, label= y_train)
dtest = xgb.DMatrix(data = X_test, label = y_test)

In [331]:
params = {
    'tree_method': 'approx',
    'objective': 'multi:softprob',
    'num_class': 26
}
num_boost_round = 50

dtrain = xgb.DMatrix(data = X_train, label= y_train)
dtest = xgb.DMatrix(data = X_test, label = y_test)
model = xgb.train(params=params, dtrain=dtrain, num_boost_round=num_boost_round , early_stopping_rounds=5, 
                  evals=[(dtrain, 'train'), (dtest, 'valid')],
                  verbose_eval=2)

[0]	train-mlogloss:2.61417	valid-mlogloss:2.70332
[2]	train-mlogloss:2.21663	valid-mlogloss:2.45020
[4]	train-mlogloss:1.98800	valid-mlogloss:2.33097
[6]	train-mlogloss:1.82517	valid-mlogloss:2.25870
[8]	train-mlogloss:1.70558	valid-mlogloss:2.21503
[10]	train-mlogloss:1.61149	valid-mlogloss:2.18249
[12]	train-mlogloss:1.53498	valid-mlogloss:2.16203
[14]	train-mlogloss:1.47263	valid-mlogloss:2.14916
[16]	train-mlogloss:1.41744	valid-mlogloss:2.13665
[18]	train-mlogloss:1.37087	valid-mlogloss:2.12744
[20]	train-mlogloss:1.32985	valid-mlogloss:2.12409
[22]	train-mlogloss:1.29284	valid-mlogloss:2.11882
[24]	train-mlogloss:1.25845	valid-mlogloss:2.11886
[26]	train-mlogloss:1.22794	valid-mlogloss:2.11720
[28]	train-mlogloss:1.19916	valid-mlogloss:2.11830
[30]	train-mlogloss:1.17252	valid-mlogloss:2.11756
[31]	train-mlogloss:1.15979	valid-mlogloss:2.11734

In [353]:
params = {
    'tree_method': 'approx',
    'objective': 'multi:softprob',
    #'learning_rate': 0.05
}
num_boost_round = 1000

clf = xgb.XGBClassifier( n_estimators = 200,        # 부스팅 단계 수
                        max_depth = 6,             # 개별 트리의 최대 깊이
                        learning_rate = 0.1,       # 학습률, 낮출수록 느리게 학습하지만 성능 개선 가능
                        subsample=0.7,           # 각 부스팅 단계에서 사용할 샘플의 비율
                        #scale_pos_weight = class_weight_dict,  # 클래스별 가중치
                        colsample_bytree=0.3,    # 각 트리에서 사용할 특성의 비율
                        random_state = 42,         # 랜덤 시드
                        n_jobs = -1,             # 모든 CPU 코어 사용,
                        reg_alpha=0.03,
                        early_stopping_rounds = 50,                        
                        **params)
clf.fit(X_train, y_train, 
        eval_set=[(X_train, y_train), (X_test,y_test)],
        verbose=2);

[0]	validation_0-mlogloss:3.14951	validation_1-mlogloss:3.16471
[2]	validation_0-mlogloss:2.97485	validation_1-mlogloss:3.03442
[4]	validation_0-mlogloss:2.85261	validation_1-mlogloss:2.95277
[6]	validation_0-mlogloss:2.73700	validation_1-mlogloss:2.86546
[8]	validation_0-mlogloss:2.64497	validation_1-mlogloss:2.80193
[10]	validation_0-mlogloss:2.54865	validation_1-mlogloss:2.72778
[12]	validation_0-mlogloss:2.45071	validation_1-mlogloss:2.66049
[14]	validation_0-mlogloss:2.37443	validation_1-mlogloss:2.60764
[16]	validation_0-mlogloss:2.31561	validation_1-mlogloss:2.57487
[18]	validation_0-mlogloss:2.25739	validation_1-mlogloss:2.53887
[20]	validation_0-mlogloss:2.18884	validation_1-mlogloss:2.48901
[22]	validation_0-mlogloss:2.13747	validation_1-mlogloss:2.45867
[24]	validation_0-mlogloss:2.08503	validation_1-mlogloss:2.42473
[26]	validation_0-mlogloss:2.04289	validation_1-mlogloss:2.39896
[28]	validation_0-mlogloss:2.00429	validation_1-mlogloss:2.37989
[30]	validation_0-mlogloss:1.96195	validation_1-mlogloss:2.35427
[32]	validation_0-mlogloss:1.92275	validation_1-mlogloss:2.33185
[34]	validation_0-mlogloss:1.88463	validation_1-mlogloss:2.30968
[36]	validation_0-mlogloss:1.85024	validation_1-mlogloss:2.29049
[38]	validation_0-mlogloss:1.82071	validation_1-mlogloss:2.27601
[40]	validation_0-mlogloss:1.79042	validation_1-mlogloss:2.26167
[42]	validation_0-mlogloss:1.76594	validation_1-mlogloss:2.25282
[44]	validation_0-mlogloss:1.73785	validation_1-mlogloss:2.23805
[46]	validation_0-mlogloss:1.71101	validation_1-mlogloss:2.22639
[48]	validation_0-mlogloss:1.68501	validation_1-mlogloss:2.21400
[50]	validation_0-mlogloss:1.66461	validation_1-mlogloss:2.20562
[52]	validation_0-mlogloss:1.64217	validation_1-mlogloss:2.19741
[54]	validation_0-mlogloss:1.61864	validation_1-mlogloss:2.18791
[56]	validation_0-mlogloss:1.59919	validation_1-mlogloss:2.18146
[58]	validation_0-mlogloss:1.58007	validation_1-mlogloss:2.17560
[60]	validation_0-mlogloss:1.56110	validation_1-mlogloss:2.16858
[62]	validation_0-mlogloss:1.54252	validation_1-mlogloss:2.16178
[64]	validation_0-mlogloss:1.52435	validation_1-mlogloss:2.15480
[66]	validation_0-mlogloss:1.50730	validation_1-mlogloss:2.15013
[68]	validation_0-mlogloss:1.48966	validation_1-mlogloss:2.14281
[70]	validation_0-mlogloss:1.47406	validation_1-mlogloss:2.13893
[72]	validation_0-mlogloss:1.45905	validation_1-mlogloss:2.13361
[74]	validation_0-mlogloss:1.44408	validation_1-mlogloss:2.12907
[76]	validation_0-mlogloss:1.42862	validation_1-mlogloss:2.12415
[78]	validation_0-mlogloss:1.41447	validation_1-mlogloss:2.12119
[80]	validation_0-mlogloss:1.40092	validation_1-mlogloss:2.11639
[82]	validation_0-mlogloss:1.38652	validation_1-mlogloss:2.11246
[84]	validation_0-mlogloss:1.37314	validation_1-mlogloss:2.10795
[86]	validation_0-mlogloss:1.36033	validation_1-mlogloss:2.10379
[88]	validation_0-mlogloss:1.34804	validation_1-mlogloss:2.10064
[90]	validation_0-mlogloss:1.33588	validation_1-mlogloss:2.09762
[92]	validation_0-mlogloss:1.32297	validation_1-mlogloss:2.09467
[94]	validation_0-mlogloss:1.31197	validation_1-mlogloss:2.09144
[96]	validation_0-mlogloss:1.30118	validation_1-mlogloss:2.08872
[98]	validation_0-mlogloss:1.28984	validation_1-mlogloss:2.08514
[100]	validation_0-mlogloss:1.27938	validation_1-mlogloss:2.08241
[102]	validation_0-mlogloss:1.26926	validation_1-mlogloss:2.08140
[104]	validation_0-mlogloss:1.25934	validation_1-mlogloss:2.08020
[106]	validation_0-mlogloss:1.24895	validation_1-mlogloss:2.07837
[108]	validation_0-mlogloss:1.23922	validation_1-mlogloss:2.07845
[110]	validation_0-mlogloss:1.23020	validation_1-mlogloss:2.07726
[112]	validation_0-mlogloss:1.22108	validation_1-mlogloss:2.07675
[114]	validation_0-mlogloss:1.21208	validation_1-mlogloss:2.07567
[116]	validation_0-mlogloss:1.20344	validation_1-mlogloss:2.07528
[118]	validation_0-mlogloss:1.19407	validation_1-mlogloss:2.07420
[120]	validation_0-mlogloss:1.18534	validation_1-mlogloss:2.07248
[122]	validation_0-mlogloss:1.17697	validation_1-mlogloss:2.07124
[124]	validation_0-mlogloss:1.16805	validation_1-mlogloss:2.06932
[126]	validation_0-mlogloss:1.15954	validation_1-mlogloss:2.06844
[128]	validation_0-mlogloss:1.15093	validation_1-mlogloss:2.06696
[130]	validation_0-mlogloss:1.14329	validation_1-mlogloss:2.06590
[132]	validation_0-mlogloss:1.13565	validation_1-mlogloss:2.06409
[134]	validation_0-mlogloss:1.12752	validation_1-mlogloss:2.06326
[136]	validation_0-mlogloss:1.11947	validation_1-mlogloss:2.06152
[138]	validation_0-mlogloss:1.11251	validation_1-mlogloss:2.06120
[140]	validation_0-mlogloss:1.10579	validation_1-mlogloss:2.06095
[142]	validation_0-mlogloss:1.09873	validation_1-mlogloss:2.06013
[144]	validation_0-mlogloss:1.09175	validation_1-mlogloss:2.06007
[146]	validation_0-mlogloss:1.08448	validation_1-mlogloss:2.05941
[148]	validation_0-mlogloss:1.07780	validation_1-mlogloss:2.05910
[150]	validation_0-mlogloss:1.07089	validation_1-mlogloss:2.05885
[152]	validation_0-mlogloss:1.06424	validation_1-mlogloss:2.05869
[154]	validation_0-mlogloss:1.05747	validation_1-mlogloss:2.05843
[156]	validation_0-mlogloss:1.05111	validation_1-mlogloss:2.05850
[158]	validation_0-mlogloss:1.04472	validation_1-mlogloss:2.05864
[160]	validation_0-mlogloss:1.03823	validation_1-mlogloss:2.05856
[162]	validation_0-mlogloss:1.03199	validation_1-mlogloss:2.05745
[164]	validation_0-mlogloss:1.02614	validation_1-mlogloss:2.05821
[166]	validation_0-mlogloss:1.02000	validation_1-mlogloss:2.05753
[168]	validation_0-mlogloss:1.01388	validation_1-mlogloss:2.05799
[170]	validation_0-mlogloss:1.00832	validation_1-mlogloss:2.05783
[172]	validation_0-mlogloss:1.00285	validation_1-mlogloss:2.05744
[174]	validation_0-mlogloss:0.99695	validation_1-mlogloss:2.05656
[176]	validation_0-mlogloss:0.99170	validation_1-mlogloss:2.05754
[178]	validation_0-mlogloss:0.98623	validation_1-mlogloss:2.05754
[180]	validation_0-mlogloss:0.98081	validation_1-mlogloss:2.05817
[182]	validation_0-mlogloss:0.97550	validation_1-mlogloss:2.05837
[184]	validation_0-mlogloss:0.97036	validation_1-mlogloss:2.05892
[186]	validation_0-mlogloss:0.96505	validation_1-mlogloss:2.05910
[188]	validation_0-mlogloss:0.96007	validation_1-mlogloss:2.05995
[190]	validation_0-mlogloss:0.95480	validation_1-mlogloss:2.05977
[192]	validation_0-mlogloss:0.94969	validation_1-mlogloss:2.06078
[194]	validation_0-mlogloss:0.94489	validation_1-mlogloss:2.06063
[196]	validation_0-mlogloss:0.94034	validation_1-mlogloss:2.06115
[198]	validation_0-mlogloss:0.93579	validation_1-mlogloss:2.06147
[200]	validation_0-mlogloss:0.93079	validation_1-mlogloss:2.06177
[202]	validation_0-mlogloss:0.92617	validation_1-mlogloss:2.06207
[204]	validation_0-mlogloss:0.92157	validation_1-mlogloss:2.06290
[206]	validation_0-mlogloss:0.91653	validation_1-mlogloss:2.06331
[208]	validation_0-mlogloss:0.91213	validation_1-mlogloss:2.06334
[210]	validation_0-mlogloss:0.90765	validation_1-mlogloss:2.06447
[212]	validation_0-mlogloss:0.90338	validation_1-mlogloss:2.06440
[214]	validation_0-mlogloss:0.89895	validation_1-mlogloss:2.06554
[216]	validation_0-mlogloss:0.89478	validation_1-mlogloss:2.06652
[218]	validation_0-mlogloss:0.89072	validation_1-mlogloss:2.06759
[220]	validation_0-mlogloss:0.88627	validation_1-mlogloss:2.06779
[222]	validation_0-mlogloss:0.88243	validation_1-mlogloss:2.06873
[224]	validation_0-mlogloss:0.87828	validation_1-mlogloss:2.06933

In [354]:
y_true = y_test
y_pred = clf.predict(X_test)
y_score = clf.predict_proba(X_test)
y_true.shape, y_pred.shape, y_score.shape

((1861,), (1861,), (1861, 26))

In [355]:
from sklearn import metrics 
metrics.accuracy_score(y_true, y_pred)

0.35626007522837183

In [344]:
from sklearn import metrics 
metrics.accuracy_score(y_true, y_pred)

0.34981192907039227

In [356]:
metrics.roc_auc_score(y_true, y_score, average='weighted', multi_class='ovr')

0.8686821296731695

In [335]:
metrics.roc_auc_score(y_true, y_score, average='weighted', multi_class='ovr')

0.8565520525429748

In [357]:
clf.predict(df_test)

array([21, 22,  2, ...,  3, 10, 11])

In [358]:
res = clf.predict(df_test)
res = encoder2.inverse_transform(res)

df_test1 = pd.read_csv('../input/test.csv')
res_df = pd.DataFrame ({'ID' : df_test1['ID'], 'SUBCLASS' : res})
res_df

             ID SUBCLASS
0     TEST_0000     STES
1     TEST_0001     TGCT
2     TEST_0002     BRCA
3     TEST_0003      LGG
4     TEST_0004     LUSC
...         ...      ...
2541  TEST_2541     COAD
2542  TEST_2542     PAAD
2543  TEST_2543     CESC
2544  TEST_2544     LAML
2545  TEST_2545      LGG

[2546 rows x 2 columns]

In [359]:
res_df.SUBCLASS.value_counts()

SUBCLASS
BRCA      613
COAD      441
KIPAN     249
STES      204
GBMLGG    114
OV        111
HNSC       90
UCEC       74
KIRC       71
THCA       68
SKCM       67
LGG        58
TGCT       46
CESC       45
PRAD       42
LIHC       37
PCPG       34
PAAD       31
LAML       29
SARC       28
BLCA       26
LUSC       21
ACC        19
LUAD       19
THYM        7
DLBC        2
Name: count, dtype: int64

In [360]:
res_df.to_csv('res-1800select-01.csv',index = False)

# 1차 결과 저장 완료

In [75]:
selected_genes = set()
for d in disease_list:
    tdf = df [ df['SUBCLASS'].isin([d] )]
    total_len = tdf.shape[0]
    
    tdf = tdf.apply(lambda x : x !='WT').agg(sum)
    tdf = tdf.iloc[2:].reset_index(name='count').sort_values(by='count', ascending=False)
    #thr[d]
    rlist =[]
    if total_len > 200: 
        rlist = tdf.loc[tdf['count'] > 5]['index'].to_list()
    else :
        rlist = tdf.loc[tdf['count'] > 5]['index'].to_list()

    print(d, len(rlist))
    selected_genes.update(rlist)
selected_genes = list(selected_genes)
len(selected_genes)

KIPAN 285
SARC 31
SKCM 2112
KIRC 68
GBMLGG 145
STES 2034
BRCA 691
LIHC 106
HNSC 334
PAAD 22
OV 47
PRAD 16
UCEC 2006
LAML 9
COAD 936
THCA 3
ACC 51
LGG 16
LUSC 587
LUAD 468
CESC 175
PCPG 3
BLCA 209
TGCT 14
THYM 1
DLBC 17

2925

In [8]:
def get_gene_list1():
    selected_genes = set()
    for d in disease_list:
        count_df = df[df.SUBCLASS==d].apply(lambda x : x!='WT').agg(sum)
        count_df = count_df[2:].reset_index(name='count')        
        gene_list = count_df[count_df['count']>5]['index'].values
        print(d, len(gene_list))
        selected_genes.update(gene_list)
    print(len(selected_genes))
    return selected_genes
glist = get_gene_list1()

KIPAN 286
SARC 31
SKCM 2112
KIRC 68
GBMLGG 147
STES 2034
BRCA 691
THCA 4
LIHC 106
HNSC 334
PAAD 22
OV 47
PRAD 16
UCEC 2006
LAML 9
COAD 936
ACC 51
LGG 16
LUSC 587
LUAD 468
CESC 175
PCPG 3
THYM 1
BLCA 209
TGCT 14
DLBC 17
2925

In [128]:
if 'SUBCLASS' in selected_genes:
    print('ry')

In [129]:

data = data.loc[:, list(selected_genes)]
df_test = df_test.loc[:, list(selected_genes)]

#Multi-class classification

## 01 Update Result with Zeros []

In [361]:
#zerosl = list(df_test[(df_test_2 == 0).all(axis=1)].index)
zerosl = [17, 180, 187, 214, 219, 294, 374, 446, 450, 545, 676, 696, 787, 855, 979, 1055, 1249, 1542, 1770, 1785, 1832, 1866, 1965, 2046, 2059, 2118, 2132, 2153, 2340, 2412, 2481]

In [362]:
res_df.loc[zerosl, 'SUBCLASS'] = 'THYM'

In [363]:
res_df

             ID SUBCLASS
0     TEST_0000     STES
1     TEST_0001     TGCT
2     TEST_0002     BRCA
3     TEST_0003      LGG
4     TEST_0004     LUSC
...         ...      ...
2541  TEST_2541     COAD
2542  TEST_2542     PAAD
2543  TEST_2543     CESC
2544  TEST_2544     LAML
2545  TEST_2545      LGG

[2546 rows x 2 columns]

In [364]:
res_df.SUBCLASS.value_counts()

SUBCLASS
BRCA      582
COAD      441
KIPAN     249
STES      204
GBMLGG    114
OV        111
HNSC       90
UCEC       74
KIRC       71
THCA       68
SKCM       67
LGG        58
TGCT       46
CESC       45
PRAD       42
THYM       38
LIHC       37
PCPG       34
PAAD       31
LAML       29
SARC       28
BLCA       26
LUSC       21
ACC        19
LUAD       19
DLBC        2
Name: count, dtype: int64

In [366]:
res_df.loc[180]

ID          TEST_0180
SUBCLASS         THYM
Name: 180, dtype: object

## SAVE res_df with zero step

In [365]:
res_df.to_csv('../res2000-selected-step-1.csv',index = False)

# Second Step

In [91]:
import pandas as pd

In [374]:

df = pd.read_csv('../input/train.csv')
df_test1 = pd.read_csv('../input/test.csv')

data1 = df.drop(columns=['ID', 'SUBCLASS'])
df_test1.drop(columns='ID',inplace=True)

total3 = pd.concat([data1, df_test1])

f = lambda x : 0 if x == 'WT' else 1
total3 = total3.map(f)

ns = df.shape[0]
data3 = total3[:ns]
df_test1 = total3[ns:]

In [375]:
df_test1

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2543,0,0,0,0,0,1,1,1,1,1,...,1,1,0,0,1,0,1,1,0,0
2544,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2545,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [379]:
data3

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [376]:
# 각 행에서 1이 위치한 열의 이름과 인덱스를 구하는 코드
one_1_rows = df_test1[df_test1.sum(axis=1) == 1]
result = [(index, row.idxmax()) for index, row in one_1_rows.iterrows()]
result

[(8, 'SOX9'),
 (90, 'BRAF'),
 (110, 'LIG1'),
 (131, 'IDH2'),
 (170, 'PLK4'),
 (192, 'ZNF365'),
 (260, 'BRAF'),
 (352, 'PRKDC'),
 (366, 'VHL'),
 (390, 'DOCK2'),
 (435, 'CDCP1'),
 (619, 'GFPT2'),
 (655, 'CTNNA1'),
 (672, 'CD46'),
 (693, 'HRAS'),
 (701, 'HRAS'),
 (798, 'CCNL1'),
 (880, 'GNAO1'),
 (898, 'ATXN1'),
 (1023, 'MYH1'),
 (1034, 'CDKN2A'),
 (1071, 'VHL'),
 (1078, 'CACNA1A'),
 (1118, 'ACE'),
 (1202, 'VHL'),
 (1263, 'BRAF'),
 (1287, 'TG'),
 (1408, 'VHL'),
 (1426, 'VHL'),
 (1437, 'SREBF2'),
 (1560, 'CACNA1A'),
 (1690, 'LRPPRC'),
 (1761, 'VHL'),
 (1804, 'RAD21'),
 (1830, 'LIG1'),
 (1833, 'VHL'),
 (1851, 'NPM1'),
 (1879, 'VHL'),
 (1884, 'KMT2D'),
 (1979, 'NPM1'),
 (2056, 'VHL'),
 (2086, 'VHL'),
 (2114, 'BRCA2'),
 (2150, 'NPM1'),
 (2218, 'TP53'),
 (2383, 'NPM1'),
 (2447, 'CDH1'),
 (2512, 'SUCLG1')]

In [380]:
one_VHL_l=[]
one_BRAF_l = []
one_NPM1_l = []
one_LIG1_l = []
one_s = []
res_df1 = res_df.copy()

for i, c in result:
    print(i, c)
    if c =='VHL': 
        one_VHL_l.append(i)
        # 해당 컬럼에서 SUBCLASS값들의 분포를 구함
        q = ['VHL']
        rows_with_all_ones = df[data3[q].eq(1).all(axis=1)] 
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS #KIRC
        res_df1.loc[one_VHL_l,'SUBCLASS'] = rs
    elif c=='BRAF': 
        one_BRAF_l.append(i)
        q = ['BRAF']
        rows_with_all_ones = df[data3[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS #maybe 1
        res_df1.loc[one_BRAF_l,'SUBCLASS'] = rs
    elif c=='NPM1' : 
        one_NPM1_l.append(i)
        q = ['NPM1']
        rows_with_all_ones = df[data3[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS#0 not 1
        res_df1.loc[one_NPM1_l,'SUBCLASS'] = rs
    elif c=='LIG1' : 
        one_LIG1_l.append(i)
        q = ['LIG1']
        rows_with_all_ones = df[data3[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS#0 not 1
        res_df1.loc[one_LIG1_l,'SUBCLASS'] = rs
    elif c=='HRAS': 
        one_s.append(i)
        q = ['HRAS']
        rows_with_all_ones = df[data3[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS#0 not 1
        res_df1.loc[one_s,'SUBCLASS'] = rs
    #else:
        ###one_s.append(i)
        #row_no = i
        #q = [c]
        #rows_with_all_ones = df[data[q].eq(1).all(axis=1)]
        #rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS
        #res_df1.loc[i]['SUBCLASS'] = rs
    

res_df1.to_csv('20241013-step2-ones.csv',index = False)

8 SOX9
90 BRAF
110 LIG1
131 IDH2
170 PLK4
192 ZNF365
260 BRAF
352 PRKDC
366 VHL
390 DOCK2
435 CDCP1
619 GFPT2
655 CTNNA1
672 CD46
693 HRAS
701 HRAS
798 CCNL1
880 GNAO1
898 ATXN1
1023 MYH1
1034 CDKN2A
1071 VHL
1078 CACNA1A
1118 ACE
1202 VHL
1263 BRAF
1287 TG
1408 VHL
1426 VHL
1437 SREBF2
1560 CACNA1A
1690 LRPPRC
1761 VHL
1804 RAD21
1830 LIG1
1833 VHL
1851 NPM1
1879 VHL
1884 KMT2D
1979 NPM1
2056 VHL
2086 VHL
2114 BRCA2
2150 NPM1
2218 TP53
2383 NPM1
2447 CDH1
2512 SUCLG1

In [132]:
############# optional code

In [381]:
## TEST 데이터에서 1개의 컬럼만 1인 경우 찾기
one_1_rows = df_test1[df_test1.sum(axis=1) == 1]
# 각 열(column)별로 1이 있는 인덱스 리스트 생성
result_dict = {}
for column in one_1_rows.columns:
    indices = one_1_rows[one_1_rows[column] == 1].index.tolist()
    if indices:  # 인덱스가 비어있지 않으면 추가
        result_dict[column] = indices

# 딕셔너리를 DataFrame으로 변환
result_df = pd.DataFrame(list(result_dict.items()), columns=['gene', 'index_list'])
result_df

       gene                                         index_list
0       ACE                                             [1118]
1     ATXN1                                              [898]
2      BRAF                                    [90, 260, 1263]
3     BRCA2                                             [2114]
4   CACNA1A                                       [1078, 1560]
5     CCNL1                                              [798]
6      CD46                                              [672]
7     CDCP1                                              [435]
8      CDH1                                             [2447]
9    CDKN2A                                             [1034]
10   CTNNA1                                              [655]
11    DOCK2                                              [390]
12    GFPT2                                              [619]
13    GNAO1                                              [880]
14     HRAS                                         [693, 701]
15     IDH2                                              [131]
16    KMT2D                                             [1884]
17     LIG1                                        [110, 1830]
18   LRPPRC                                             [1690]
19     MYH1                                             [1023]
20     NPM1                           [1851, 1979, 2150, 2383]
21     PLK4                                              [170]
22    PRKDC                                              [352]
23    RAD21                                             [1804]
24     SOX9                                                [8]
25   SREBF2                                             [1437]
26   SUCLG1                                             [2512]
27       TG                                             [1287]
28     TP53                                             [2218]
29      VHL  [366, 1071, 1202, 1408, 1426, 1761, 1833, 1879...
30   ZNF365                                              [192]

In [ ]:
q = 'VHL'
rows_with_all_ones = df[(data[q] == 1) & (data.drop(columns=q) == 0).all(axis=1)]
rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
#res_df1.loc[one_VHL_l,'SUBCLASS'] = rs
print(rs)

In [ ]:
## df_test 데이터에서 2개의 컬럼만 1인 경우 찾기
one_2_rows = df_test[df_test.sum(axis=1) == 2]
# 각 행에서 1이 위치한 열의 이름을 나열
result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]

# 리스트를 DataFrame으로 변환
result_df = pd.DataFrame(result, columns=['index', 'genes'])
result_df

In [ ]:
## df_test 데이터에서 2개의 컬럼만 1인 경우 찾기
one_2_rows = df_test[df_test.sum(axis=1) == 2]
# 각 행에서 1이 위치한 열의 이름을 나열
result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]

# 리스트를 DataFrame으로 변환
result_df = pd.DataFrame(result, columns=['index', 'genes'])
result_df

In [ ]:
## 1이 2개 이상 있는 행 필터링
one_2_rows = df_test[df_test.sum(axis=1) == 2]

# 각 행에서 1이 위치한 열의 이름을 모두 나열하는 코드
result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]

# 출력
print(result)

## Update Res_df with 2 / 3 / 4 / 5

In [382]:
## TEST DATA에서 1이 n개 있는 행 필터링
def find_test_n_ones(n):
    one_2_rows = df_test1[df_test1.sum(axis=1) == n]
    # 각 행에서 1이 위치한 열의 이름을 모두 나열하는 코드
    result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]
    print(len(result))
    return result
print(find_test_n_ones(2))

47
[(74, ['CDH8', 'RYR2']), (75, ['HKDC1', 'UGCG']), (94, ['TGFBRAP1', 'TMPRSS6']), (100, ['DPYD', 'SYMPK']), (139, ['AADAT', 'JUP']), (384, ['DDX10', 'ELOVL5']), (387, ['CUL4A', 'ZFPM2']), (409, ['ARFGEF2', 'BRAF']), (534, ['CCR4', 'TLR7']), (565, ['BMP1', 'BRAF']), (637, ['CHEK2', 'UBC']), (733, ['BRAF', 'MXRA5']), (757, ['DCC', 'LRP1']), (772, ['CDON', 'MAP4K1']), (780, ['BRAF', 'LAMA4']), (796, ['NPM1', 'TTC39A']), (869, ['CCL25', 'HELZ2']), (878, ['PYGM', 'TGFBRAP1']), (899, ['ENPP1', 'SPRED2']), (911, ['IL1A', 'VWF']), (1042, ['ADAM23', 'RYR2']), (1065, ['MXD4', 'TCHH']), (1093, ['CPA2', 'DTX2']), (1267, ['CBR1', 'SLC19A1']), (1388, ['BRAF', 'LSP1']), (1390, ['EGLN2', 'NPM1']), (1520, ['ITIH1', 'PLG']), (1532, ['CDR2', 'XIAP']), (1555, ['HLA-DRB1', 'PREX1']), (1567, ['CTNS', 'IL12RB1']), (1571, ['DIO2', 'NPM1']), (1622, ['PROP1', 'ZNFX1']), (1634, ['SLIT1', 'ST6GAL1']), (1639, ['IRS4', 'LCP2']), (1756, ['COL12A1', 'TRIP10']), (1779, ['TGFBRAP1', 'TMPRSS6']), (1808, ['FGA', 'NIPBL']), (1885, ['HSPA8', 'MYH4']), (1926, ['DYRK1A', 'NEK7']), (2082, ['HMGB3', 'KIF13B']), (2091, ['ABL1', 'HTR5A']), (2095, ['ITGB7', 'VCPIP1']), (2163, ['IDH1', 'PIK3CA']), (2274, ['LTB', 'PREX1']), (2281, ['CHEK1', 'CYB5R1']), (2492, ['SCARB1', 'TENM2']), (2533, ['CLTC', 'SCN10A'])]

In [ ]:
df.iloc[5618].apply(lambda x : x!='WT').agg(sum)

In [ ]:
df.iloc[1954].SUBCLASS

In [383]:
# exact matching은 보정
res_df2 = res_df1.copy()
for ns in range (1, 5):
    result_n = find_test_n_ones(ns)

    for i, qSet in result_n:
        # qSet에 해당하는 컬럼들만 값이 1인 행을 반환
        rows_with_only_qSet_ones = df[(data3[qSet].eq(1).all(axis=1)) & (data3.drop(columns=qSet).eq(0).all(axis=1))]
        rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
        
        if rs.shape[0] == 1:
            rs = rs.loc[0].SUBCLASS
            if rs != res_df.loc[i]['SUBCLASS']:
                print(ns, rs, res_df1.loc[i]['SUBCLASS'], qSet)
                res_df2.loc[i,'SUBCLASS'] = rs
res_df2.to_csv('s20241013-step3-exactMatching.csv',index = False)

48
1 THCA BRCA ['PRKDC']
1 LAML BRCA ['RAD21']
1 KIRC KIPAN ['KMT2D']
1 KIPAN BRCA ['SUCLG1']
47
2 LGG BRCA ['CTNS', 'IL12RB1']
60
3 KIRC GBMLGG ['MMP2', 'PTEN', 'TRIM58']
3 KIPAN PCPG ['CHEK2', 'PIK3CG', 'TAF1C']
3 KIPAN BRCA ['CIITA', 'PKHD1', 'RAPGEF6']
3 GBMLGG LGG ['ATRX', 'GM2A', 'IDH1']
65
4 GBMLGG LGG ['IDH1', 'LATS2', 'MYH8', 'PDGFA']
4 LGG LAML ['ABCA4', 'ATRX', 'EXOC4', 'PTPN11']
4 LGG BRCA ['COL1A2', 'EDN2', 'KALRN', 'MXRA5']

In [384]:
res_df2.SUBCLASS.value_counts()

SUBCLASS
BRCA      574
COAD      441
KIPAN     244
STES      204
GBMLGG    115
OV        111
HNSC       90
KIRC       80
UCEC       74
SKCM       72
THCA       66
LGG        59
TGCT       46
CESC       45
PRAD       42
THYM       38
LIHC       37
PCPG       33
PAAD       31
LAML       29
SARC       28
BLCA       26
LUSC       21
ACC        19
LUAD       19
DLBC        2
Name: count, dtype: int64

In [ ]:
print(find_test_n_ones(4))

In [ ]:
print(find_test_n_ones(5))

In [ ]:
df_test

In [ ]:
# res 값 수정, 
# 문서 2,3,4,5
res_df2 = res_df1.copy()
result_n = find_test_n_ones(2)

for i, qSet in result_n:
    print(i, qSet)
    #option2) qSet에 해당하는 컬럼들만 값이 1인 행을 반환
    rows_with_only_qSet_ones = df[(data[qSet].eq(1).all(axis=1)) & (data.drop(columns=qSet).eq(0).all(axis=1))]
    rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
    
    if rs.shape[0] > 0:
        rs = rs.loc[0].SUBCLASS
        print(rs)
        res_df2.loc[i,'SUBCLASS'] = rs
    else: 
        #option1) qSet에 해당하는 컬럼들이 포함된, 값이 1인 행을 반환
        rows_with_all_ones = df[data[qSet].eq(1).all(axis=1)]
        if rows_with_all_ones.shape[0] > 1:
            try:
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count')#.loc[].SUBCLASS## 0->1
                print(rs)
                #res_df2.loc[i,'SUBCLASS'] = rs
            except KeyError or ValueError:
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS## 0->1
                res_df2.loc[i,'SUBCLASS'] = rs
                print(rs)
            
#res_df2.to_csv('res2-step3-two.csv',index = False)

In [ ]:
df

In [ ]:
result_n = find_test_n_ones(1)

for i, qSet in result_n:
    print(i, qSet)
    #option2) qSet에 해당하는 컬럼들만 값이 1인 행을 반환
    rows_with_only_qSet_ones = df[(data[qSet].eq(1).all(axis=1)) & (data.drop(columns=qSet).eq(0).all(axis=1))]
    rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
    
    if rs.shape[0] > 0:
        #rs = rs.loc[0].SUBCLASS
        print(rs)
        #res_df2.loc[i,'SUBCLASS'] = rs
    #else: 
    #    #option1) qSet에 해당하는 컬럼들이 포함된, 값이 1인 행을 반환
    #    rows_with_all_ones = df[data[qSet].eq(1).all(axis=1)]
    #    if rows_with_all_ones.shape[0] > 0 : 
    #        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS
    #        print(rs)
    #        res_df2.loc[i,'SUBCLASS'] = rs

In [55]:
res_df2.to_csv('res-step4-three.csv',index = False)

In [48]:
res_df2.to_csv('res-step5-four.csv',index = False)

In [ ]:
result_n = find_test_n_ones(5)

for i, qSet in result_n:
    print(i, qSet)
    #option2) qSet에 해당하는 컬럼들만 값이 1인 행을 반환
    rows_with_only_qSet_ones = df[(data[qSet].eq(1).all(axis=1)) & (data.drop(columns=qSet).eq(0).all(axis=1))]
    rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
    
    if rs.shape[0] > 0:
        rs = rs.loc[0].SUBCLASS
        print(rs)
        res_df2.loc[i,'SUBCLASS'] = rs
    else: 
        #option1) qSet에 해당하는 컬럼들이 포함된, 값이 1인 행을 반환
        rows_with_all_ones = df[data[qSet].eq(1).all(axis=1)]
        if rows_with_all_ones.shape[0] > 1 : 
            try: 
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS
                print(rs)
                res_df2.loc[i,'SUBCLASS'] = rs
            except KeyError or ValueError:
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS
                print(rs)
                res_df2.loc[i,'SUBCLASS'] = rs

In [58]:
res_df2.to_csv('res-step6-five.csv',index = False)