In [2]:
import pandas as pd 
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_target = df['SUBCLASS']

data = df.drop(columns=['ID', 'SUBCLASS'])
df_test.drop(columns=['ID'], inplace=True)
data

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,R895R,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6197,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6198,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,T181S,WT
6199,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6200,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [4]:
total = pd.concat([data, df_test])
total

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,R895R,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2542,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2543,WT,WT,WT,WT,WT,L217I,P221P P251P,R5M,G606D,I248Nfs,...,S2049Vfs S1909Vfs,L232R,WT,WT,L305L,WT,N252I N251I,G679V,WT,WT
2544,WT,WT,WT,WT,WT,WT,WT,WT,R1517H,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2545,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [5]:
for c in total.columns:
    if total[c].value_counts()['WT'] == len(total):
        print(c)
        total.drop(columns=[c] , inplace=True)
total.columns

BOLA2
CROCCP2
EEIG1
G6PC1
GPX4
H2AC25
HBBP1
HYCC2
MIX23
MYL11
NHERF1
NHERF4
PALS1
PHB1
PTTG3P
PVT1
RIGI
SELENOP
SELENOW
SKIC3
XIST

Index(['A2M', 'AAAS', 'AADAT', 'AARS1', 'ABAT', 'ABCA1', 'ABCA2', 'ABCA3',
       'ABCA4', 'ABCA5',
       ...
       'ZNF292', 'ZNF365', 'ZNF639', 'ZNF707', 'ZNFX1', 'ZNRF4', 'ZPBP',
       'ZW10', 'ZWINT', 'ZYX'],
      dtype='object', length=4363)

In [6]:
diseaseList = df.SUBCLASS.value_counts().rename_axis('disease').reset_index(name='counts')
diseaseList

   disease  counts
0     BRCA     786
1    KIPAN     515
2   GBMLGG     461
3     STES     379
4     KIRC     334
5     THCA     324
6     SKCM     276
7     PRAD     266
8       OV     253
9      LGG     229
10    HNSC     223
11    COAD     223
12    UCEC     198
13    SARC     198
14    LUAD     184
15    LUSC     178
16    LIHC     158
17    LAML     158
18    CESC     155
19    PCPG     147
20    TGCT     124
21    PAAD     120
22    BLCA     104
23    THYM      98
24     ACC      72
25    DLBC      38

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for c in total.columns:
    total[c] = encoder.fit_transform(total[c])

In [8]:
df = total[:6201]
df_test = total[6201:]

In [9]:
df

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
1,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
2,181,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
3,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
4,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
6197,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
6198,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,59,78
6199,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
6200,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78

In [10]:
df_test

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
1,234,72,47,31,74,177,252,229,310,173,...,275,109,56,45,188,48,85,88,65,78
2,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
3,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
4,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
2542,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
2543,234,72,47,31,74,113,151,176,99,66,...,230,52,56,45,79,121,40,24,65,78
2544,234,72,47,31,74,232,252,229,212,173,...,275,109,56,45,188,121,85,88,65,78
2545,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78

In [11]:
import xgboost as xgb 
from xgboost import XGBClassifier, plot_importance
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [12]:

X = df
y = df_target
encoder2 = LabelEncoder()
y = encoder2.fit_transform(y)
y

array([ 8, 19, 20, ...,  4, 22, 20])

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=156)
print(X_train.shape, X_test.shape)

(4340, 4363) (1861, 4363)

In [14]:
dtrain = xgb.DMatrix(data = X_train, label= y_train)
dtest = xgb.DMatrix(data = X_test, label = y_test)

#Multi-class classification

In [15]:
params = {
    'tree_method': 'approx',
    'objective': 'multi:softprob',
    'num_class': df_target.nunique()
}
num_boost_round = 10

dtrain = xgb.DMatrix(data = X_train, label= y_train)
dtest = xgb.DMatrix(data = X_test, label = y_test)
model = xgb.train(params=params, dtrain=dtrain, num_boost_round=num_boost_round,
                  evals=[(dtrain, 'train'), (dtest, 'valid')],
                  verbose_eval=2)

[0]	train-mlogloss:2.62853	valid-mlogloss:2.71648
[2]	train-mlogloss:2.23905	valid-mlogloss:2.45885
[4]	train-mlogloss:2.01184	valid-mlogloss:2.33214
[6]	train-mlogloss:1.85381	valid-mlogloss:2.25774
[8]	train-mlogloss:1.73677	valid-mlogloss:2.21127
[9]	train-mlogloss:1.68766	valid-mlogloss:2.19328

In [16]:
params = {
    'tree_method': 'approx',
    'objective': 'multi:softprob',
}
num_boost_round = 10

clf = xgb.XGBClassifier(n_estimators=num_boost_round, **params)
clf.fit(X_train, y_train, 
        eval_set=[(X_train, y_train), (X_test,y_test)], 
        verbose=2);

[0]	validation_0-mlogloss:2.62853	validation_1-mlogloss:2.71648
[2]	validation_0-mlogloss:2.23905	validation_1-mlogloss:2.45885
[4]	validation_0-mlogloss:2.01184	validation_1-mlogloss:2.33214
[6]	validation_0-mlogloss:1.85381	validation_1-mlogloss:2.25774
[8]	validation_0-mlogloss:1.73677	validation_1-mlogloss:2.21127
[9]	validation_0-mlogloss:1.68766	validation_1-mlogloss:2.19328

In [17]:
y_true = y_test
y_pred = clf.predict(X_test)
y_score = clf.predict_proba(X_test)
y_true.shape, y_pred.shape, y_score.shape

((1861,), (1861,), (1861, 26))

In [18]:
from sklearn import metrics 
metrics.accuracy_score(y_true, y_pred)

0.3401397098334229

In [19]:
print(metrics.classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.73      0.70      0.71        23
           1       0.35      0.17      0.23        35
           2       0.26      0.68      0.37       238
           3       0.24      0.10      0.14        39
           4       0.61      0.59      0.60        63
           5       0.75      0.19      0.30        16
           6       0.35      0.26      0.30       150
           7       0.30      0.22      0.25        60
           8       0.27      0.33      0.30       159
           9       0.00      0.00      0.00       104
          10       0.67      0.29      0.41        48
          11       0.28      0.46      0.35        57
          12       0.38      0.19      0.25        48
          13       0.26      0.08      0.13        59
          14       0.29      0.18      0.23        49
          15       0.27      0.52      0.36        93
          16       0.14      0.04      0.06        28
          17       0.33      0.05      0.09        37
          18       0.24      0.06      0.10        81
          19       0.23      0.09      0.13        53
          20       0.77      0.52      0.62        82
          21       0.36      0.32      0.34       109
          22       0.38      0.21      0.27        38
          23       0.73      0.60      0.66       102
          24       0.50      0.08      0.14        24
          25       0.64      0.44      0.52        66

    accuracy                           0.34      1861
   macro avg       0.40      0.28      0.30      1861
weighted avg       0.36      0.34      0.32      1861

In [20]:
metrics.roc_auc_score(y_true, y_score, average='weighted', multi_class='ovr')

0.8444495751159001

In [21]:
clf.predict(df_test)

array([21, 25,  2, ..., 20, 10, 11])

In [22]:
res = clf.predict(df_test)

In [23]:
res = encoder2.inverse_transform(res)

array(['STES', 'UCEC', 'BRCA', ..., 'SKCM', 'LAML', 'LGG'], dtype=object)

In [26]:

df_test1 = pd.read_csv('test.csv')
res_df = pd.DataFrame ({'ID' : df_test1['ID'], 'SUBCLASS' : res})
res_df

             ID SUBCLASS
0     TEST_0000     STES
1     TEST_0001     UCEC
2     TEST_0002     BRCA
3     TEST_0003      LGG
4     TEST_0004     LAML
...         ...      ...
2541  TEST_2541     BLCA
2542  TEST_2542     HNSC
2543  TEST_2543     SKCM
2544  TEST_2544     LAML
2545  TEST_2545      LGG

[2546 rows x 2 columns]

In [ ]:

from sklearn.inspection import permutation_importance
from sklearn.metrics import make_scorer

scorer = make_scorer(metrics.log_loss, greater_is_better=False, needs_proba=True)
permu_imp = permutation_importance(clf, X_test, y_test, 
                                   n_repeats=30, random_state=0, scoring=scorer)

In [ ]:
import matplotlib.pyplot as plt 

importances_permutation = pd.Series(permu_imp['importances_mean'], index=df.columns)
importances_permutation.sort_values(ascending=True)[-10:].plot.barh()
plt.title('Permutation Importance on Out-of-Sample Set')
plt.xlabel('change in multivariate log likelihood');

In [44]:
pred_probs = xgb_model.predict(dtest)

In [ ]:
import numpy as np
print(np.round(pred_probs[:10], 3))

In [58]:
preds= [round(x) if x > 0 else 0 for x in pred_probs]

In [ ]:
preds

In [60]:
for p in preds:
    if p<0:
        print(p)

In [ ]:
encoder.inverse_transform(preds)

In [35]:
model = RandomForestClassifier(
            n_estimators=50, ## 붓스트랩 샘플 개수 또는 base_estimator 개수
            criterion='entropy', ## 불순도 측도
            max_depth=65, ## 개별 나무의 최대 깊이
            #max_features='sqrt', ## 매 분리시 랜덤으로 뽑을 변수 개수
            #max_samples=1.0, ## 붓스트랩 샘플 비율 => 1이면 학습데이터를 모두 샘플링한다.
            #bootstrap=True, ## 복원 추출,  False이면 비복원 추출
            oob_score=True, ## Out-of-bag 데이터를 이용한 성능 계산
            random_state=100
).fit(X,y)

In [ ]:
## 예측
print(model.predict(X)[:3]) 
print()

In [ ]:
X[:3]

In [ ]:
## 성능 평가
print(model.oob_score_) ## Out-of-bag 성능 평가 점수
print('정확도 : ', model.score(X,y)) ## 테스트 성능 평가 점수(Accuracy)
print()
## 변수 중요도
print(model.feature_importances_)

In [ ]:
## 성능 평가
print(model.oob_score_) ## Out-of-bag 성능 평가 점수
print('정확도 : ', model.score(X,y)) ## 테스트 성능 평가 점수(Accuracy)
print()
## 변수 중요도
print(model.feature_importances_)

In [ ]:
res = model.predict(df_test)
res

In [ ]:
res = model.predict(df_test)
res

In [ ]:
df_test1 = pd.read_csv('test.csv')
res_df = pd.DataFrame ({'ID' : df_test1['ID'], 'SUBCLASS' : res})
res_df

In [24]:
res_df.to_csv('res04.csv',index = False)

In [ ]:
df[df.SUBCLASS == 'BRCA'].sum().sort_values(ascending=False).str.replace('WT','')

In [ ]:
df[df['SUBCLASS']=='DLBC']

In [ ]:
import numpy as np 
dfs = df[df['SUBCLASS']=='DLBC']
dfs.columns

In [ ]:
for c in dfs.columns:
    dfs[c] = np.where(dfs[c] == 'WT', 0, 1)
dfs

In [ ]:
dfs = df[df['SUBCLASS']=='DLBC']
dfs.apply(lambda x: x(if x=='WT' else x=1))

In [ ]:
genes = []
for disease in df["SUBCLASS"].unique():
    disease_df = df[df["SUBCLASS"] == disease]

    non_wt_counts = (disease_df != 'WT').sum()  # "WT"가 아닌 행 개수
    non_wt_counts_sorted = non_wt_counts.sort_values(ascending=False) #빈도 수가 높은 순서대로 정렬

    n = 10 # 추출한 상위 유전자 개수
    genes.extend(list(non_wt_counts_sorted[2:2+n].index))

    print(f'{disease} - 전체 행의 개수 : {len(disease_df)}')
    print(non_wt_counts_sorted[2:10])
    print()

In [ ]:
for  x in df.iloc[0]:
    if x != 'WT': print(x)

In [ ]:
len(df_test.columns)

In [ ]:
len(df_test)

In [ ]:
df.colu