In [69]:
import xgboost as xgb 
from xgboost import XGBClassifier, plot_importance
from sklearn.model_selection import train_test_split
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_target = df['SUBCLASS']

disease_list = df.SUBCLASS.unique()

dd_list = ['BRCA', 'KIPAN' , 'GBMLGG', 'STES']
#too many 변이, ROWs DELETE
for d in disease_list:
    td = df[df['SUBCLASS']==d].apply(lambda x : x!='WT').agg(sum , axis=1).sort_values(ascending=False) >= 800 #706
    if td[td].sum()> 0:
        print(d, list(td[td].index))
        df.drop(list(td[td].index), inplace=True)


data = df.drop(columns=['ID', 'SUBCLASS'])
df_test.drop(columns=['ID'], inplace=True)
data

SKCM [1369, 6153, 486]
STES [601, 682]
BRCA [4228, 2707]
PAAD [1789]
UCEC [4757, 1761, 4984, 2189, 5049, 1202, 6140, 4098, 5683, 406, 71, 520]
COAD [4081, 1502, 3967]

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,R895R,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6197,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6198,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,T181S,WT
6199,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6200,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [70]:
df.shape

(6178, 4386)

In [71]:
data.shape

(6178, 4384)

In [84]:
def get_count_df(df, d, th):
    count_df = df[df.SUBCLASS==d].apply(lambda x : x!='WT').agg(sum)
    count_df = count_df[2:].reset_index(name='count').sort_values(by='count',ascending=False)
    gl = count_df[count_df['count']>th][1:]['index']
    return gl

from collections import defaultdict
expert_dict = defaultdict()

df_ = data.copy()

df_['SUBCLASS'] = df.loc[:, df.columns[1:2]]
for d in disease_list:
    all_g = set(df[df.SUBCLASS==d].columns)
    gl = get_count_df(df_, d, 1)
    try:
        g_expert = pd.read_csv('./reference_data/'+d+'.csv')
        aa = set(g_expert['g.name'])        
        
    except FileNotFoundError:
        aa = set(get_count_df(df_, d, 5))
        
    expdict = all_g.intersection(aa)
    expert_dict[d] = expdict
    print(d,  len(list(gl)), len(aa), len(expdict))

KIPAN 1873 699 307
SARC 513 69 38
SKCM 3407 69 31
KIRC 1050 132 69
GBMLGG 1131 181 117
STES 3566 69 38
BRCA 2369 1004 497
THCA 197 58 34
LIHC 1161 179 104
HNSC 1948 55 37
PAAD 362 628 287
OV 818 317 133
PRAD 370 611 311
UCEC 2203 89 54
LAML 49 1007 493
COAD 2519 557 278
ACC 555 38 23
LGG 288 111 53
LUSC 2399 629 246
LUAD 2116 467 467
CESC 1652 42 22
PCPG 72 3 3
THYM 30 19 10
BLCA 1774 121 70
TGCT 430 23 9
DLBC 553 9 4

In [73]:
diseaseList = df.SUBCLASS.value_counts().rename_axis('disease').reset_index(name='counts')
diseaseList

   disease  counts
0     BRCA     784
1    KIPAN     515
2   GBMLGG     461
3     STES     377
4     KIRC     334
5     THCA     324
6     SKCM     273
7     PRAD     266
8       OV     253
9      LGG     229
10    HNSC     223
11    COAD     220
12    SARC     198
13    UCEC     186
14    LUAD     184
15    LUSC     178
16    LIHC     158
17    LAML     158
18    CESC     155
19    PCPG     147
20    TGCT     124
21    PAAD     119
22    BLCA     104
23    THYM      98
24     ACC      72
25    DLBC      38

In [81]:
class_dict = defaultdict()
def get_gene_list1():
    selected_genes = set()
    for d in disease_list:
        count_df = df[df.SUBCLASS==d].apply(lambda x : x!='WT').agg(sum)
        count_df = count_df[2:].reset_index(name='count')        
        gene_list = count_df[count_df['count']>5]['index'].values
        print(d, len(gene_list))
        class_dict[d] = gene_list
        selected_genes.update(gene_list)
    print(len(selected_genes))
    return selected_genes
glist = get_gene_list1()

KIPAN 286
SARC 31
SKCM 1895
KIRC 68
GBMLGG 147
STES 1867
BRCA 548
THCA 4
LIHC 106
HNSC 334
PAAD 15
OV 47
PRAD 16
UCEC 402
LAML 9
COAD 610
ACC 51
LGG 16
LUSC 587
LUAD 468
CESC 175
PCPG 3
THYM 1
BLCA 209
TGCT 14
DLBC 17
2534

In [79]:
glist

{'GPRC5C',
 'METTL7B',
 'CSF2RB',
 'CYBB',
 'ADAM2',
 'UPF3B',
 'ZC3H12A',
 'DCTN1',
 'SULT2B1',
 'ORC2',
 'CXCR4',
 'IGF2R',
 'GLDC',
 'CTSS',
 'IGF1R',
 'ABCC8',
 'CDH16',
 'TNFSF11',
 'GEM',
 'IGSF3',
 'HGFAC',
 'NOD2',
 'ABL1',
 'PER1',
 'BCL11B',
 'VCAM1',
 'EIF3B',
 'NCAN',
 'FST',
 'PNPLA8',
 'MAP3K1',
 'RNMT',
 'KCNK5',
 'HMGCL',
 'SPI1',
 'TMEM176B',
 'ITGAE',
 'SLC6A12',
 'ALS2',
 'CEP72',
 'LAS1L',
 'ZBTB17',
 'CRYZ',
 'KCNMB2',
 'IL1RL1',
 'RAD21',
 'KRT31',
 'PPARGC1A',
 'BCL2L11',
 'MET',
 'ABCA5',
 'SFRP4',
 'MYO9B',
 'SYT12',
 'ATP7A',
 'TLE4',
 'DGKH',
 'EWSR1',
 'CACNA1F',
 'ATXN2',
 'SUCLG2',
 'SCAF4',
 'F13B',
 'HTR1D',
 'ECM1',
 'PIKFYVE',
 'ACACA',
 'FMO3',
 'WLS',
 'OSM',
 'SRC',
 'TFCP2L1',
 'AMOT',
 'TDO2',
 'PAXIP1',
 'RHOT1',
 'ITGB7',
 'MYH4',
 'ERCC4',
 'CYLD',
 'FGF9',
 'P2RY4',
 'GREB1',
 'CCNA1',
 'MKNK2',
 'BCAR1',
 'PKP2',
 'CROCC',
 'SGMS1',
 'FBLN5',
 'XYLT2',
 'FGF17',
 'APLP1',
 'BNIP3',
 'SUN2',
 'NCOA3',
 'EPHA5',
 'BCL6',
 'LTF',
 'TROAP',
 'STEAP4',
 'CTSC',
 'PLEKHG2',
 'MGAT1',
 'DPEP3',
 'BGN',
 'FGFR3',
 'CLDN16',
 'PTEN',
 'LEF1',
 'CDH4',
 'SCN9A',
 'SLC24A3',
 'HK1',
 'CLDN18',
 'VCL',
 'KDM4B',
 'IGF1',
 'CLEC5A',
 'NT5E',
 'RBM5',
 'SVIL',
 'SPTA1',
 'CSTF3',
 'VDR',
 'CPQ',
 'SYNCRIP',
 'GBF1',
 'RTN4RL1',
 'FZD7',
 'GZMA',
 'PROC',
 'CYP7A1',
 'HMOX1',
 'CYP7B1',
 'ERCC2',
 'GLMN',
 'SPTB',
 'ABCD1',
 'LPAR1',
 'HERC3',
 'MYBL1',
 'POLG2',
 'LIMA1',
 'PLCB2',
 'SSTR4',
 'EIF2AK1',
 'VAV2',
 'LYN',
 'PCLO',
 'CD7',
 'EXOC2',
 'PFKP',
 'ACTN4',
 'SLC29A3',
 'EPB41L3',
 'CYFIP2',
 'FASN',
 'COL5A2',
 'HLA-DRA',
 'LCK',
 'HSP90AA1',
 'MAOB',
 'BCAN',
 'AKT2',
 'ACVRL1',
 'ATP4A',
 'ITGA3',
 'KLF10',
 'DNAJC1',
 'TGM2',
 'ATP6V0A4',
 'ACOX3',
 'CKM',
 'CD8B',
 'CCT6B',
 'MARK3',
 'VWF',
 'SLIT1',
 'CASP2',
 'HDAC9',
 'PDE4B',
 'PHYH',
 'PPP2R5B',
 'DCX',
 'TFAP2C',
 'CCNL1',
 'DPP4',
 'GAA',
 'MMP16',
 'TFPI2',
 'DMD',
 'RBM14',
 'TLR7',
 'CTNND1',
 'GPR182',
 'OGFR',
 'NDST2',
 'E2F1',
 'BCKDHA',
 'PYGB',
 'VCAN',
 'CCDC88A',
 'CSK',
 'F2RL1',
 'TFDP2',
 'RELN',
 'CX3CL1',
 'ENDOD1',
 'GC',
 'ZC3H14',
 'TLR8',
 'EDAR',
 'ZNF112',
 'PML',
 'RPL3L',
 'JAK2',
 'VIP',
 'SPEG',
 'PDS5B',
 'TSC22D1',
 'KCNMA1',
 'TTK',
 'HLA-A',
 'PABPC1',
 'BARD1',
 'GART',
 'SORBS1',
 'GCK',
 'MYO1E',
 'SLC1A5',
 'CKMT2',
 'BTG1',
 'SHOX2',
 'DHX15',
 'B2M',
 'RREB1',
 'PCP4',
 'ACAT1',
 'PHKA2',
 'AHCY',
 'KIF15',
 'FUT8',
 'PEX14',
 'PEG3',
 'PLG',
 'PIF1',
 'HBB',
 'AGO2',
 'ATXN1',
 'TLE3',
 'DCTN4',
 'TIMP3',
 'LDB1',
 'POLA1',
 'TCEA1',
 'HRH1',
 'NFE2L1',
 'PTPN21',
 'PAX6',
 'LAMA3',
 'MADD',
 'BTG2',
 'B4GALT5',
 'PPFIA4',
 'XK',
 'LIFR',
 'PDGFRB',
 'SLC25A37',
 'BRCA2',
 'SMC3',
 'HR',
 'IFT88',
 'GPHN',
 'PTCD3',
 'TRIM25',
 'E2F8',
 'KLF4',
 'SH2B2',
 'KLKB1',
 'NOTCH1',
 'BCL3',
 'CYFIP1',
 'HDAC3',
 'GLCE',
 'RAPGEF5',
 'KDM3A',
 'GATA1',
 'SIDT2',
 'SKI',
 'BMPR2',
 'MYC',
 'MTNR1A',
 'OLFM1',
 'HNF4A',
 'COX10',
 'ALDH2',
 'MAPKAPK2',
 'PACRG',
 'PPP4C',
 'PRC1',
 'TKT',
 'BCR',
 'COG2',
 'THBS1',
 'ITGA4',
 'C3AR1',
 'EZH2',
 'B3GNT3',
 'KCNN4',
 'ANGPTL4',
 'APBB1',
 'HTR5A',
 'CAPG',
 'BMP1',
 'DNAJB8',
 'HSP90B1',
 'CHRNG',
 'MYH1',
 'TOR1AIP2',
 'YBX2',
 'LCT',
 'FBLN1',
 'NOTCH3',
 'ATP2B1',
 'ICAM4',
 'PPRC1',
 'COMP',
 'SYBU',
 'MFSD6',
 'OXTR',
 'CUL5',
 'SCUBE1',
 'FARSA',
 'CP',
 'HOMER2',
 'AFAP1L2',
 'RNF19B',
 'SLC29A2',
 'FECH',
 'NTF3',
 'ART3',
 'EPHA2',
 'KDM7A',
 'THEG',
 'ACADL',
 'PKLR',
 'SLC30A3',
 'CLDN6',
 'PLVAP',
 'RAPGEF6',
 'JAG2',
 'C2',
 'GYS1',
 'SCN10A',
 'RBBP8',
 'PODXL',
 'EGLN2',
 'APBB2',
 'OSMR',
 'RANBP9',
 'NRP1',
 'C5',
 'UBA2',
 'NR1H4',
 'TOP1',
 'MVK',
 'HAS2',
 'PREP',
 'GRID2',
 'CAPN9',
 'COL5A1',
 'DCBLD2',
 'NUDT19',
 'GNA15',
 'SCRN1',
 'PSPH',
 'MYF6',
 'NFASC',
 'ITGAM',
 'ACSL6',
 'MTA1',
 'MMP8',
 'SLC25A38',
 'CST8',
 'ACO2',
 'INPP4B',
 'ABCA6',
 'GUCY2D',
 'TLE1',
 'THEM4',
 'PRSS3',
 'UGT2B17',
 'PDLIM7',
 'IP6K2',
 'HUWE1',
 'MAOA',
 'DAB2',
 'CMTR1',
 'PRIM2',
 'ANO1',
 'EVI5',
 'OASL',
 'SPHK1',
 'EPHB4',
 'ACTG2',
 'NUMA1',
 'CELF2',
 'CYP51A1',
 'PTPRC',
 'PARD6G',
 'SPAG5',
 'NFIL3',
 'ACTB',
 'U2AF1',
 'MMP15',
 'VIM',
 'ARFGAP3',
 'PDCD1',
 'SLC5A6',
 'SLCO1A2',
 'PTPRE',
 'KLF5',
 'ERAP2',
 'PIK3CA',
 'ADD2',
 'ERCC3',
 'HEYL',
 'FGA',
 'GNA14',
 'CHUK',
 'PENK',
 'SLC7A11',
 'ME1',
 'ADA',
 'CDH8',
 'NMUR1',
 'AMACR',
 'SPHK2',
 'MAP3K11',
 'ARAP3',
 'LCP1',
 'INCENP',
 'ITIH3',
 'KCNH2',
 'TACC3',
 'IKZF1',
 'SSH2',
 'EXT1',
 'NEGR1',
 'NELFB',
 'ENPP1',
 'GDA',
 'ZNFX1',
 'CENPJ',
 'RETSAT',
 'RABEPK',
 'EHHADH',
 'CBFA2T3',
 'MYO15A',
 'DNMT1',
 'MAPK10',
 'ABR',
 'ENTPD7',
 'NEUROD1',
 'KIF20B',
 'EIF4A2',
 'GOT2',
 'PLXNB2',
 'CD36',
 'NUB1',
 'PGM2',
 'IQGAP2',
 'GNAS',
 'NAV2',
 'DCT',
 'SERPINE2',
 'UNC5C',
 'ATF4',
 'KCNN1',
 'CDK5RAP2',
 'COL6A1',
 'AVPR1A',
 'CYP26B1',
 'WFS1',
 'CTNNB1',
 'LDB3',
 'PAM',
 'HSP90AB1',
 'IRAK2',
 'STXBP1',
 'KRT13',
 'CD207',
 'AXIN1',
 'CCR8',
 'SLC27A5',
 'PRMT5',
 'SCP2',
 'FSHB',
 'CNOT4',
 'AUTS2',
 'TRIO',
 'APP',
 'AUH',
 'ABCC1',
 'DLL1',
 'ERCC5',
 'SNAPC4',
 'RNH1',
 'NFE2',
 'ANLN',
 'SCAF8',
 'PTRH2',
 'KRT1',
 'HOXB1',
 'MPP2',
 'CHST1',
 'KLK8',
 'TNPO2',
 'STAT3',
 'ENPEP',
 'BMPR1B',
 'MCM4',
 'ALDH1A1',
 'LAMC1',
 'MDGA1',
 'PDIA5',
 'ADRM1',
 'DSC3',
 'LIG3',
 'TCF7L1',
 'MCM2',
 'HELLS',
 'AKAP4',
 'NFKB1',
 'LTBP2',
 'ADCY9',
 'CADM3',
 'LDLR',
 'SCG2',
 'IFNAR2',
 'LONP1',
 'TRIM33',
 'TMPRSS2',
 'CACNG1',
 'NOP14',
 'SMC2',
 'PRDM1',
 'CLDN19',
 'FLOT2',
 'STAM2',
 'HSD17B4',
 'PAX4',
 'PEX2',
 'KIF1B',
 'OLFML3',
 'DOCK4',
 'MMP2',
 'OPN3',
 'VPREB1',
 'SLC23A1',
 'MX2',
 'SYK',
 'ESYT1',
 'FADS2',
 'PAK4',
 'HIRA',
 'PKD1',
 'CSF3R',
 'SCGN',
 'SUPT5H',
 'ISL1',
 'ALDH1A2',
 'LAD1',
 'HMGCR',
 'D2HGDH',
 'AMPH',
 'SULT1B1',
 'CCT5',
 'SLCO2A1',
 'HSPA1L',
 'REV3L',
 'BACH1',
 'KIF4A',
 'DAPK2',
 'RNF19A',
 'KIF5C',
 'RFC1',
 'MTHFD1',
 'KDM6B',
 'LCAT',
 'LAYN',
 'ABCD3',
 'TNFSF10',
 'MAML2',
 'NLGN2',
 'EPB41',
 'TGFBR2',
 'DLGAP5',
 'CALML5',
 'RBCK1',
 'BIN1',
 'RHOB',
 'CYP8B1',
 'FZD1',
 'RAE1',
 'MAGEE1',
 'ROCK1',
 'SUPV3L1',
 'CHST4',
 'PRKCG',
 'PRDM2',
 'TRAIP',
 'DDX60',
 'SOWAHC',
 'SIRPA',
 'IPO7',
 'KIF11',
 'WNT5A',
 'CCR4',
 'DLD',
 'LDLRAP1',
 'KIF13B',
 'TCP11',
 'TTC39A',
 'FOXO1',
 'MMP7',
 'SLC27A1',
 'ABCB11',
 'JAM3',
 'TCIRG1',
 'HSPA9',
 'CHEK2',
 'SYTL2',
 'MSH2',
 'XPO7',
 'SLC12A4',
 'SLC23A2',
 'ACKR1',
 'PIK3R5',
 'OGDH',
 'TNNT2',
 'ACTC1',
 'BANK1',
 'SGCD',
 'ARID4A',
 'WNT5B',
 'GTF3C5',
 'VTN',
 'GCNT2',
 'ZFP36L1',
 'SEMA3C',
 'NNT',
 'AAAS',
 'NFIB',
 'CYP4F2',
 'CEP250',
 'CBLB',
 'SOS1',
 'ALDH3A2',
 'IFNAR1',
 'AIFM3',
 'NOC4L',
 'HTRA1',
 'MAP4K3',
 'STIL',
 'F11',
 'TAF1C',
 'MELK',
 'KATNB1',
 'HTATIP2',
 'MID1',
 'TMEM8B',
 'RHOA',
 'IL2RA',
 'STC2',
 'PCDHB1',
 'GOT1',
 'STAT4',
 'NNMT',
 'MYLK',
 'MAP4K1',
 'FERMT2',
 'PCSK4',
 'EGR2',
 'P2RY14',
 'ITIH4',
 'PHTF2',
 'HSD3B7',
 'CCNF',
 'SLC16A1',
 'TLR1',
 'CASP8',
 'AGO4',
 'CPT1A',
 'ABCA3',
 'FLNC',
 'APAF1',
 'FBXW11',
 'BCL2L13',
 'IL6ST',
 'TNFRSF11B',
 'ST8SIA4',
 'SCARF1',
 'LGMN',
 'ACVR1B',
 'EZH1',
 'PICALM',
 'PLCG1',
 'MYOM2',
 'PCNT',
 'AKR1C3',
 'ABCB8',
 'MMP11',
 'CROT',
 'AMIGO1',
 'TIPARP',
 'MYCN',
 'LMO2',
 'SLC25A12',
 'GFRA1',
 'P4HA1',
 'DHX16',
 'TM7SF2',
 'MAPK13',
 'WWC1',
 'F13A1',
 'SCNN1A',
 'PHLDA1',
 'DLG4',
 'CD9',
 'ACADS',
 'DOCK10',
 'CALCR',
 'RABEP1',
 'CD96',
 'ARID5B',
 'EIF2AK3',
 'NF2',
 'YTHDC1',
 'MXD1',
 'IFIH1',
 'PGLS',
 'BCKDHB',
 'HRC',
 'VHL',
 'F3',
 'TCF7L2',
 'LSS',
 'NFKB2',
 'CAPN2',
 'DIAPH3',
 'GBE1',
 'ZNF707',
 'PROS1',
 'LAT2',
 'ITIH5',
 'PGS1',
 'LALBA',
 'FBXO7',
 'LUM',
 'ECSIT',
 'ST3GAL4',
 'GTF2F1',
 'TKTL1',
 'MKI67',
 'SYCP1',
 'ALDOB',
 'MOV10',
 'CYP4F11',
 'LIG1',
 'NGF',
 'SORBS3',
 'CDC42EP2',
 'WSB1',
 'PRKCB',
 'VCPIP1',
 'PEX5',
 'MEP1B',
 'SEC14L1',
 'GZMK',
 'STAG1',
 'SOX10',
 'BDNF',
 'DOCK2',
 'ARAF',
 'FAM120A',
 'FBL',
 'GLIPR1',
 'SELL',
 'STAT1',
 'KCNJ2',
 'NPM1',
 'GPNMB',
 'SLC2A1',
 'NIN',
 'ERN1',
 'SLC7A1',
 'ANPEP',
 'LMAN1',
 'KIF18B',
 'THBS3',
 'ALDH8A1',
 'ATP6V0D1',
 'CACNA1A',
 'MYH7',
 'MAST2',
 'JUP',
 'NKD1',
 'SLC25A23',
 'EGF',
 'TF',
 'ABCC3',
 'PFKL',
 'EZR',
 'PPM1B',
 'FSCN1',
 'ENPP2',
 'EGR1',
 'SNX9',
 'GFPT1',
 'SREBF2',
 'EXO1',
 'GPC1',
 'PRKAA2',
 'FEZ1',
 'RAC1',
 'SPDEF',
 'CYP4B1',
 'FCN1',
 'KLK10',
 'ODF1',
 'GCDH',
 'EPB41L2',
 'G3BP1',
 'SERPINA10',
 'FOXJ2',
 'CMPK2',
 'SNAP25',
 'COL15A1',
 'CLVS1',
 'HTRA2',
 'TXNRD1',
 'CHRNA5',
 'ETS1',
 'EFHC1',
 'DPYSL3',
 'REEP1',
 'CLU',
 'XPNPEP1',
 'TATDN2',
 'RELB',
 'CNTRL',
 'GEMIN4',
 'ELANE',
 'NRP2',
 'PXN',
 'MARCO',
 'ATP6AP1',
 'MAST4',
 'CSTF2',
 'ABCG4',
 'CDO1',
 'CDKN2A',
 'RAD9A',
 'L1CAM',
 'TPX2',
 'RDH16',
 'IL10RA',
 'GNPAT',
 'SKIL',
 'CYP4A22',
 'UGDH',
 'SOD3',
 'TGFBI',
 'KIF3B',
 'CLIP2',
 'PROCR',
 'ZNF185',
 'KLF3',
 'WDR37',
 'MLLT10',
 'GOLGA4',
 'PGM3',
 'NOTCH4',
 'CPE',
 'HELZ2',
 'ALDH7A1',
 'NFKBIZ',
 'CAST',
 'KLK1',
 'CKAP5',
 'SOCS5',
 'TH',
 'CLDN4',
 'TNFRSF8',
 'ITIH1',
 'SLC39A6',
 'LRP10',
 'GPRC5B',
 'BDKRB2',
 'FHL1',
 'ACP5',
 'DDB1',
 'RANBP10',
 'TRIM26',
 'ECM2',
 'RHCG',
 'AKR1D1',
 'PRSS23',
 'ANGPT1',
 'MAGI2',
 'SLC12A3',
 'VAV3',
 'HMGCS2',
 'ENO1',
 'PLCB1',
 'GNAI3',
 'TBRG4',
 'CPB1',
 'MYL1',
 'NELFCD',
 'RUVBL2',
 'TNFAIP3',
 'MAPK1',
 'MMP9',
 'TNC',
 'PTPRD',
 'INPP5F',
 'ZW10',
 'SERINC1',
 'EVL',
 'PTH1R',
 'LY75',
 'XPOT',
 'PGK2',
 'CIDEA',
 'SLC1A2',
 'CDH11',
 'KRT8',
 'PHGDH',
 'NUP93',
 'PKP3',
 'IL1A',
 'RIOK3',
 'DIO2',
 'FAH',
 'SELENBP1',
 'STX16',
 'NPHP1',
 'C1S',
 'REL',
 'ABHD6',
 'SNRPD2',
 'MYOZ1',
 'NR1I2',
 'TGFBRAP1',
 'ZBP1',
 'APLNR',
 'PITX2',
 'NEDD9',
 'PPM1D',
 'GBP4',
 'VWA5A',
 'SNAP91',
 'CD48',
 'SNRPB',
 'LAMC2',
 'FYN',
 'SLC2A2',
 'SERPINA6',
 'C5AR1',
 'KIF3C',
 'CHPF2',
 'LPIN2',
 'IGSF1',
 'SUCLG1',
 'NCAPH',
 'RAB3GAP1',
 'SNRPA',
 'A2M',
 'CYP2S1',
 'PLCL1',
 'ALOX15B',
 'TGFB2',
 'AFF1',
 'B3GAT3',
 'TCHH',
 'LMNA',
 'ABCC5',
 'DVL2',
 'ADRA2B',
 'HMGB2',
 'RIPK1',
 'MYOF',
 'F7',
 'PAPOLB',
 'AIFM1',
 'DTNA',
 'KCNQ2',
 ...}

In [105]:
selected_genes = set()
for d in disease_list :
    expd = expert_dict[d]
    selected_genes.update(list(expd))
len(selected_genes)

2051

In [92]:
selected_genes = set()
for d in disease_list:
    tdf = df [ df['SUBCLASS'].isin([d] )]
    total_len = tdf.shape[0]
    
    tdf = tdf.apply(lambda x : x !='WT').agg(sum)
    tdf = tdf.iloc[2:].reset_index(name='count').sort_values(by='count', ascending=False)
    #thr[d]
    rlist =[]
    if total_len > 200: 
        rlist = tdf.loc[tdf['count'] > 5]['index'].to_list()
    else :
        rlist = tdf.loc[tdf['count'] > 0]['index'].to_list()

    print(d, len(rlist))
    selected_genes.update(rlist)
#selected_genes = list(selected_genes)
#len(selected_genes)

KIPAN 286
SARC 1547
SKCM 1895
KIRC 68
GBMLGG 147
STES 1867
BRCA 548
THCA 4
LIHC 2394
HNSC 334
PAAD 1274
OV 47
PRAD 16
UCEC 3215
LAML 316
COAD 610
ACC 1580
LGG 16
LUSC 3330
LUAD 3123
CESC 2905
PCPG 524
THYM 388
BLCA 2931
TGCT 1366
DLBC 1657

In [106]:
if 'SUBCLASS' in selected_genes:
    print('ry')

In [6]:
#selected_genes.remove("SUBCLASS")

In [107]:
df_target = df['SUBCLASS']

data = data.loc[:, list(selected_genes)]
df_test = df_test.loc[:, list(selected_genes)]

In [29]:
df_target = df['SUBCLASS']

data = data.loc[:, list(glist)]
df_test = df_test.loc[:, list(glist)]

In [108]:
total = pd.concat([data, df_test] ) 
f = lambda x : '' if x == 'WT' else x
total = total.map(f)
total

,RPS14,LHX2,NIP7,BPHL,HEY1,CSF2RB,CYBB,ADAM2,SULT2B1,CXCR4,...,TPH1,NRIP1,PC,TMEM100,PDHB,CD44,KDELR3,ITK,MDM2,NBN
0,,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,Q34Q,
2,,,,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,T176T,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,,,,,,,,,,,...,,,,,,,,,,
2542,,,,,,,,,,,...,,,,,,,,,,
2543,,,Y45C,,,,,,,,...,,E729Rfs,,L99Yfs,Q160H Q142H,,,K538E,A345T A175T A296T A149T A351T A298T,Y322X Y240X
2544,,,,,,,,,,,...,,,,,,,,,,
2545,,,,,,,,,,,...,,,,,,,,,,

In [109]:
total = total.loc[:, list(selected_genes)]
total

,RPS14,LHX2,NIP7,BPHL,HEY1,CSF2RB,CYBB,ADAM2,SULT2B1,CXCR4,...,TPH1,NRIP1,PC,TMEM100,PDHB,CD44,KDELR3,ITK,MDM2,NBN
0,,,,,,,,,,,...,,,,,,,,,,
1,,,,,,,,,,,...,,,,,,,,,Q34Q,
2,,,,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,T176T,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,,,,,,,,,,,...,,,,,,,,,,
2542,,,,,,,,,,,...,,,,,,,,,,
2543,,,Y45C,,,,,,,,...,,E729Rfs,,L99Yfs,Q160H Q142H,,,K538E,A345T A175T A296T A149T A351T A298T,Y322X Y240X
2544,,,,,,,,,,,...,,,,,,,,,,
2545,,,,,,,,,,,...,,,,,,,,,,

In [110]:
df.shape

(6178, 4386)

In [111]:
#df = total[:6201]
#df_test = total[6201:]

In [112]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
total = total.apply(label_encoder.fit_transform)

nRows = df.shape[0]
X = total[:nRows]
df_test = total[nRows:]
y = df_target



encoder2 = LabelEncoder()
y = encoder2.fit_transform(y)
y

array([ 8, 19, 20, ...,  4, 22, 20])

In [113]:
y.shape[0]

6178

In [114]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=156)#shuffle=False,stratify = y, 
print(X_train.shape, X_test.shape)

(4324, 2051) (1854, 2051)

#Multi-class classification

In [115]:
dtrain = xgb.DMatrix(data = X_train, label= y_train)
dtest = xgb.DMatrix(data = X_test, label = y_test)

In [116]:
params = {
    'tree_method': 'approx',
    'objective':  'multi:softprob',
    'num_class': 26
}
num_boost_round = 50

dtrain = xgb.DMatrix(data = X_train, label= y_train)
dtest = xgb.DMatrix(data = X_test, label = y_test)
model = xgb.train(params=params, dtrain=dtrain, num_boost_round=num_boost_round , early_stopping_rounds=5, 
                  evals=[(dtrain, 'train'), (dtest, 'valid')],
                  verbose_eval=2)

[0]	train-mlogloss:2.59801	valid-mlogloss:2.71834
[2]	train-mlogloss:2.20768	valid-mlogloss:2.48058
[4]	train-mlogloss:1.97825	valid-mlogloss:2.35415
[6]	train-mlogloss:1.82106	valid-mlogloss:2.28350
[8]	train-mlogloss:1.70391	valid-mlogloss:2.23629
[10]	train-mlogloss:1.61031	valid-mlogloss:2.20632
[12]	train-mlogloss:1.53453	valid-mlogloss:2.18569
[14]	train-mlogloss:1.47225	valid-mlogloss:2.17227
[16]	train-mlogloss:1.41951	valid-mlogloss:2.16097
[18]	train-mlogloss:1.37270	valid-mlogloss:2.15176
[20]	train-mlogloss:1.33184	valid-mlogloss:2.14648
[22]	train-mlogloss:1.29459	valid-mlogloss:2.14546
[24]	train-mlogloss:1.26198	valid-mlogloss:2.14691
[26]	train-mlogloss:1.23292	valid-mlogloss:2.14504
[28]	train-mlogloss:1.20556	valid-mlogloss:2.14307
[30]	train-mlogloss:1.17865	valid-mlogloss:2.14485
[32]	train-mlogloss:1.15426	valid-mlogloss:2.14465
[34]	train-mlogloss:1.12922	valid-mlogloss:2.14502
[36]	train-mlogloss:1.10768	valid-mlogloss:2.14527

In [117]:
params = {
    'tree_method': 'approx',
    'objective': 'multi:softprob',
    #'learning_rate': 0.05
}
num_boost_round = 1000

clf = xgb.XGBClassifier( n_estimators = 100,        # 부스팅 단계 수
                        max_depth = 8,             # 개별 트리의 최대 깊이
                        learning_rate = 0.1,       # 학습률, 낮출수록 느리게 학습하지만 성능 개선 가능
                        subsample=0.8,           # 각 부스팅 단계에서 사용할 샘플의 비율
                        #scale_pos_weight = class_weight_dict,  # 클래스별 가중치
                        colsample_bytree=0.8,    # 각 트리에서 사용할 특성의 비율
                        random_state = 42,         # 랜덤 시드
                        n_jobs = -1,             # 모든 CPU 코어 사용,
                        early_stopping_rounds = 5,
                        **params)
clf.fit(X_train, y_train, 
        eval_set=[(X_train, y_train), (X_test,y_test)],
        verbose=2);

[0]	validation_0-mlogloss:3.07264	validation_1-mlogloss:3.10968
[2]	validation_0-mlogloss:2.77256	validation_1-mlogloss:2.87291
[4]	validation_0-mlogloss:2.57143	validation_1-mlogloss:2.72386
[6]	validation_0-mlogloss:2.42171	validation_1-mlogloss:2.62716
[8]	validation_0-mlogloss:2.29702	validation_1-mlogloss:2.54738
[10]	validation_0-mlogloss:2.19126	validation_1-mlogloss:2.48625
[12]	validation_0-mlogloss:2.09892	validation_1-mlogloss:2.43342
[14]	validation_0-mlogloss:2.01939	validation_1-mlogloss:2.38938
[16]	validation_0-mlogloss:1.94804	validation_1-mlogloss:2.35301
[18]	validation_0-mlogloss:1.88403	validation_1-mlogloss:2.32236
[20]	validation_0-mlogloss:1.82531	validation_1-mlogloss:2.29547
[22]	validation_0-mlogloss:1.77325	validation_1-mlogloss:2.27331
[24]	validation_0-mlogloss:1.72434	validation_1-mlogloss:2.25363
[26]	validation_0-mlogloss:1.67961	validation_1-mlogloss:2.23745
[28]	validation_0-mlogloss:1.63929	validation_1-mlogloss:2.22190
[30]	validation_0-mlogloss:1.60046	validation_1-mlogloss:2.20789
[32]	validation_0-mlogloss:1.56532	validation_1-mlogloss:2.19733
[34]	validation_0-mlogloss:1.53338	validation_1-mlogloss:2.18866
[36]	validation_0-mlogloss:1.50281	validation_1-mlogloss:2.17889
[38]	validation_0-mlogloss:1.47304	validation_1-mlogloss:2.17301
[40]	validation_0-mlogloss:1.44635	validation_1-mlogloss:2.16547
[42]	validation_0-mlogloss:1.41994	validation_1-mlogloss:2.16049
[44]	validation_0-mlogloss:1.39464	validation_1-mlogloss:2.15565
[46]	validation_0-mlogloss:1.37231	validation_1-mlogloss:2.15260
[48]	validation_0-mlogloss:1.35069	validation_1-mlogloss:2.14791
[50]	validation_0-mlogloss:1.32986	validation_1-mlogloss:2.14422
[52]	validation_0-mlogloss:1.30958	validation_1-mlogloss:2.14173
[54]	validation_0-mlogloss:1.29037	validation_1-mlogloss:2.13975
[56]	validation_0-mlogloss:1.27229	validation_1-mlogloss:2.13733
[58]	validation_0-mlogloss:1.25510	validation_1-mlogloss:2.13528
[60]	validation_0-mlogloss:1.23900	validation_1-mlogloss:2.13278
[62]	validation_0-mlogloss:1.22217	validation_1-mlogloss:2.13214
[64]	validation_0-mlogloss:1.20703	validation_1-mlogloss:2.12960
[66]	validation_0-mlogloss:1.19204	validation_1-mlogloss:2.12851
[68]	validation_0-mlogloss:1.17740	validation_1-mlogloss:2.12895
[70]	validation_0-mlogloss:1.16387	validation_1-mlogloss:2.12787
[72]	validation_0-mlogloss:1.15000	validation_1-mlogloss:2.12715
[74]	validation_0-mlogloss:1.13754	validation_1-mlogloss:2.12631
[76]	validation_0-mlogloss:1.12490	validation_1-mlogloss:2.12674
[78]	validation_0-mlogloss:1.11295	validation_1-mlogloss:2.12687
[79]	validation_0-mlogloss:1.10714	validation_1-mlogloss:2.12669

In [118]:
y_true = y_test
y_pred = clf.predict(X_test)
y_score = clf.predict_proba(X_test)
y_true.shape, y_pred.shape, y_score.shape

((1854,), (1854,), (1854, 26))

In [119]:
from sklearn import metrics 
metrics.accuracy_score(y_true, y_pred)

0.33063646170442285

In [41]:
from sklearn import metrics 
metrics.accuracy_score(y_true, y_pred)

0.33225458468176916

In [120]:
print(metrics.classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.63      0.75        19
           1       0.36      0.11      0.17        36
           2       0.27      0.70      0.39       226
           3       0.15      0.06      0.09        48
           4       0.51      0.57      0.54        65
           5       0.25      0.12      0.17         8
           6       0.34      0.34      0.34       149
           7       0.33      0.15      0.21        78
           8       0.20      0.18      0.19       164
           9       0.16      0.16      0.16        86
          10       0.67      0.50      0.57        40
          11       0.22      0.19      0.21        77
          12       0.45      0.23      0.30        44
          13       0.30      0.17      0.22        52
          14       0.28      0.15      0.19        47
          15       0.22      0.47      0.30        68
          16       0.29      0.06      0.10        33
          17       0.19      0.09      0.12        45
          18       0.38      0.14      0.20        87
          19       0.15      0.07      0.10        55
          20       0.76      0.57      0.65        87
          21       0.36      0.25      0.29       129
          22       0.30      0.23      0.26        35
          23       0.64      0.59      0.61        91
          24       0.50      0.08      0.14        25
          25       0.62      0.50      0.56        60

    accuracy                           0.33      1854
   macro avg       0.38      0.28      0.30      1854
weighted avg       0.35      0.33      0.31      1854

In [43]:
metrics.roc_auc_score(y_true, y_score, average='weighted', multi_class='ovr')

0.8578955349853364

In [121]:
metrics.roc_auc_score(y_true, y_score, average='weighted', multi_class='ovr')

0.8585661016212224

## Create Result DataFrame

In [122]:
clf.predict(df_test)

array([21, 25,  2, ..., 22, 10,  6])

In [123]:
res = clf.predict(df_test)
res = encoder2.inverse_transform(res)
df_test1 = pd.read_csv('test.csv')
res_df = pd.DataFrame ({'ID' : df_test1['ID'], 'SUBCLASS' : res})
res_df

             ID SUBCLASS
0     TEST_0000     STES
1     TEST_0001     UCEC
2     TEST_0002     BRCA
3     TEST_0003   GBMLGG
4     TEST_0004     LUSC
...         ...      ...
2541  TEST_2541     COAD
2542  TEST_2542     HNSC
2543  TEST_2543     TGCT
2544  TEST_2544     LAML
2545  TEST_2545   GBMLGG

[2546 rows x 2 columns]

In [124]:
res_df.SUBCLASS.value_counts()

SUBCLASS
BRCA      631
COAD      476
KIPAN     213
STES      175
OV        144
GBMLGG    132
SKCM      100
THCA       77
UCEC       66
KIRC       64
TGCT       56
LGG        51
HNSC       49
LAML       40
LIHC       40
LUAD       37
CESC       35
PRAD       33
PCPG       28
SARC       23
BLCA       21
ACC        21
LUSC       18
PAAD        9
DLBC        5
THYM        2
Name: count, dtype: int64

In [125]:
res_df.to_csv('res3-0.csv',index = False)

## 01 Update Result with Zeros []

In [53]:
zerosl = list(df_test[(df_test == 0).all(axis=1)].index)
res_df.loc[zerosl, 'SUBCLASS'] = 'THYM'

In [54]:
res_df

             ID SUBCLASS
0     TEST_0000     STES
1     TEST_0001     UCEC
2     TEST_0002     BRCA
3     TEST_0003   GBMLGG
4     TEST_0004     LUSC
...         ...      ...
2541  TEST_2541     COAD
2542  TEST_2542     HNSC
2543  TEST_2543     SKCM
2544  TEST_2544     LAML
2545  TEST_2545   GBMLGG

[2546 rows x 2 columns]

In [55]:
res_df.SUBCLASS.value_counts()

SUBCLASS
BRCA      598
COAD      493
KIPAN     215
STES      159
OV        142
GBMLGG    137
SKCM       85
THCA       73
KIRC       73
UCEC       60
HNSC       56
LGG        51
TGCT       49
LIHC       48
LAML       44
THYM       38
LUAD       34
CESC       33
PCPG       30
PRAD       28
SARC       23
BLCA       23
ACC        20
LUSC       15
PAAD       13
DLBC        6
Name: count, dtype: int64

In [56]:
res_df.loc[180]

ID          TEST_0180
SUBCLASS         THYM
Name: 180, dtype: object

## SAVE res_df with zero step

In [57]:
res_df.to_csv('res2-step-1.csv',index = False)

In [58]:
############## <5 Finding SubSet

In [59]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

data = df.drop(columns=['ID', 'SUBCLASS'])
df_test.drop(columns='ID',inplace=True)

total = pd.concat([data, df_test])

f = lambda x : 0 if x == 'WT' else 1
total = total.map(f)

data = total[:6201]
df_test = total[6201:]

In [60]:
data

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
#하나라도 1인  

# 딱 1개만 1인 행 필터링
one_1_rows = df_test[df_test.sum(axis=1) == 1]

# 각 행에서 1이 위치한 열의 이름과 인덱스를 구하는 코드
result = [(index, row.idxmax()) for index, row in one_1_rows.iterrows()]
result

[(8, 'SOX9'),
 (90, 'BRAF'),
 (110, 'LIG1'),
 (131, 'IDH2'),
 (170, 'PLK4'),
 (192, 'ZNF365'),
 (260, 'BRAF'),
 (352, 'PRKDC'),
 (366, 'VHL'),
 (390, 'DOCK2'),
 (435, 'CDCP1'),
 (619, 'GFPT2'),
 (655, 'CTNNA1'),
 (672, 'CD46'),
 (693, 'HRAS'),
 (701, 'HRAS'),
 (798, 'CCNL1'),
 (880, 'GNAO1'),
 (898, 'ATXN1'),
 (1023, 'MYH1'),
 (1034, 'CDKN2A'),
 (1071, 'VHL'),
 (1078, 'CACNA1A'),
 (1118, 'ACE'),
 (1202, 'VHL'),
 (1263, 'BRAF'),
 (1287, 'TG'),
 (1408, 'VHL'),
 (1426, 'VHL'),
 (1437, 'SREBF2'),
 (1560, 'CACNA1A'),
 (1690, 'LRPPRC'),
 (1761, 'VHL'),
 (1804, 'RAD21'),
 (1830, 'LIG1'),
 (1833, 'VHL'),
 (1851, 'NPM1'),
 (1879, 'VHL'),
 (1884, 'KMT2D'),
 (1979, 'NPM1'),
 (2056, 'VHL'),
 (2086, 'VHL'),
 (2114, 'BRCA2'),
 (2150, 'NPM1'),
 (2218, 'TP53'),
 (2383, 'NPM1'),
 (2447, 'CDH1'),
 (2512, 'SUCLG1')]

In [ ]:
one_VHL_l=[]
one_BRAF_l = []
one_NPM1_l = []
one_LIG1_l = []
one_s = []
res_df1 = res_df.copy()

for i, c in result:
    print(i, c)
    if c =='VHL': 
        one_VHL_l.append(i)
        # 해당 컬럼에서 SUBCLASS값들의 분포를 구함
        q = ['VHL']
        rows_with_all_ones = df[data[q].eq(1).all(axis=1)] 
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS #KIRC
        res_df1.loc[one_VHL_l,'SUBCLASS'] = rs
    elif c=='BRAF': 
        one_BRAF_l.append(i)
        q = ['BRAF']
        rows_with_all_ones = df[data[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS #maybe 1
        res_df1.loc[one_BRAF_l,'SUBCLASS'] = rs
    elif c=='NPM1' : 
        one_NPM1_l.append(i)
        q = ['NPM1']
        rows_with_all_ones = df[data[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS#0 not 1
        res_df1.loc[one_NPM1_l,'SUBCLASS'] = rs
    elif c=='LIG1' : 
        one_LIG1_l.append(i)
        q = ['LIG1']
        rows_with_all_ones = df[data[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS#0 not 1
        res_df1.loc[one_LIG1_l,'SUBCLASS'] = rs
    elif c=='HRAS': 
        one_s.append(i)
        q = ['HRAS']
        rows_with_all_ones = df[data[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS#0 not 1
        res_df1.loc[one_s,'SUBCLASS'] = rs
    #else:
        ###one_s.append(i)
        #row_no = i
        q = [c]
        rows_with_all_ones = df[data[q].eq(1).all(axis=1)]
        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS
        res_df1.loc[i]['SUBCLASS'] = rs
    

res_df1.to_csv('res-step2-ones-2-else2.csv',index = False)

In [ ]:
############# optional code

In [ ]:
## TEST 데이터에서 1개의 컬럼만 1인 경우 찾기
one_1_rows = df_test[df_test.sum(axis=1) == 1]
# 각 열(column)별로 1이 있는 인덱스 리스트 생성
result_dict = {}
for column in one_1_rows.columns:
    indices = one_1_rows[one_1_rows[column] == 1].index.tolist()
    if indices:  # 인덱스가 비어있지 않으면 추가
        result_dict[column] = indices

# 딕셔너리를 DataFrame으로 변환
result_df = pd.DataFrame(list(result_dict.items()), columns=['gene', 'index_list'])
result_df

In [ ]:
for q in result_df.gene:
    print(q)
    rows_with_all_ones = df[(data[q] == 1) & (data.drop(columns=q) == 0).all(axis=1)]
    rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
    if rs.shape[0] > 1:
        res_df1.loc[one_VHL_l,'SUBCLASS'] = rs.loc[1].SUBCLASS
    elif rs.shape[0] ==1:
        res_df1.loc[one_VHL_l,'SUBCLASS'] = rs.loc[0].SUBCLASS
    print(rs)
res_df1.to_csv('res-step2-ones-3.csv',index = False)

In [ ]:
q = 'VHL'
rows_with_all_ones = df[(data[q] == 1) & (data.drop(columns=q) == 0).all(axis=1)]
rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
#res_df1.loc[one_VHL_l,'SUBCLASS'] = rs
print(rs)

In [ ]:
## df_test 데이터에서 2개의 컬럼만 1인 경우 찾기
one_2_rows = df_test[df_test.sum(axis=1) == 2]
# 각 행에서 1이 위치한 열의 이름을 나열
result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]

# 리스트를 DataFrame으로 변환
result_df = pd.DataFrame(result, columns=['index', 'genes'])
result_df

In [ ]:
## df_test 데이터에서 2개의 컬럼만 1인 경우 찾기
one_2_rows = df_test[df_test.sum(axis=1) == 2]
# 각 행에서 1이 위치한 열의 이름을 나열
result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]

# 리스트를 DataFrame으로 변환
result_df = pd.DataFrame(result, columns=['index', 'genes'])
result_df

In [ ]:
## 1이 2개 이상 있는 행 필터링
one_2_rows = df_test[df_test.sum(axis=1) == 2]

# 각 행에서 1이 위치한 열의 이름을 모두 나열하는 코드
result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]

# 출력
print(result)

## Update Res_df with 2 / 3 / 4 / 5

In [ ]:
data = data.loc[:, list(glist)]
df_test = df_test.loc[:, list(glist)]

In [63]:
## TEST DATA에서 1이 n개 이상 있는 행 필터링
def find_test_n_ones(n):
    one_2_rows = df_test[df_test.sum(axis=1) == n]
    # 각 행에서 1이 위치한 열의 이름을 모두 나열하는 코드
    result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]
    return result
print(find_test_n_ones(3))

[(11, ['HK1', 'NPM1', 'VIPR1']), (22, ['ALMS1', 'ATRX', 'IDH1']), (145, ['BRAF', 'CDC42EP4', 'PPRC1']), (241, ['NCOA6', 'PABPC1', 'RGN']), (320, ['AIFM1', 'THRB', 'TUBGCP6']), (333, ['MMP2', 'PTEN', 'TRIM58']), (398, ['ABCG4', 'LCT', 'SCN9A']), (456, ['IDH2', 'NOTCH1', 'RUNX1']), (490, ['BRAF', 'FETUB', 'LAMC1']), (491, ['GATA3', 'NRCAM', 'PLCG1']), (492, ['HSP90AB1', 'MKNK1', 'PTEN']), (586, ['BRAF', 'GOT2', 'UQCRC1']), (656, ['GPD2', 'HRAS', 'PUS1']), (669, ['ANXA5', 'MKI67', 'RET']), (736, ['CCND3', 'CD59', 'HNF4A']), (812, ['AHNAK', 'DNAJB8', 'SUN2']), (852, ['NRIP1', 'PIK3CA', 'SLC30A1']), (856, ['ATRN', 'FLII', 'PLCG1']), (897, ['FANCC', 'SFRP1', 'SPTB']), (935, ['AZGP1', 'BRAF', 'THBS1']), (942, ['BUB1', 'HAO2', 'PTPRE']), (954, ['KRT13', 'NPM1', 'RREB1']), (978, ['ARFGEF1', 'FZD5', 'TP53']), (1016, ['AP3B1', 'IRS1', 'TMPRSS2']), (1022, ['GAD1', 'IMMT', 'PCYT2']), (1089, ['ATRX', 'CA12', 'GAA']), (1102, ['CREBBP', 'MYBPC3', 'SPTA1']), (1139, ['CHEK2', 'PIK3CG', 'TAF1C']), (1197, ['BRAF', 'MKRN1', 'WLS']), (1237, ['AMBN', 'PTPN14', 'SCUBE1']), (1294, ['COL5A2', 'NKX3-1', 'SLC22A4']), (1295, ['ABCA3', 'CD86', 'EIF4G3']), (1320, ['CDH1', 'OGFR', 'PIK3CA']), (1331, ['IPO4', 'ITGB1', 'NNT']), (1348, ['CD74', 'KIT', 'U2AF1']), (1436, ['PIK3CA', 'PRODH', 'TMEM97']), (1465, ['ABCA3', 'TCF19', 'ZBTB17']), (1475, ['BRAF', 'E2F3', 'RASGRP1']), (1479, ['BUB1', 'RYR1', 'SMC3']), (1527, ['BRAF', 'ITIH1', 'SLC2A5']), (1585, ['ATAD2', 'FOXC2', 'UBAC1']), (1630, ['CIITA', 'PKHD1', 'RAPGEF6']), (1656, ['NUP50', 'RAB3GAP1', 'WIPI1']), (1701, ['ACSL1', 'PLCB1', 'SLC4A4']), (1728, ['BRAF', 'IL1R1', 'SPTB']), (1827, ['CHPF', 'DPYSL2', 'PDK1']), (1865, ['ACE', 'PPFIA4', 'UBQLN1']), (1946, ['DNTT', 'PIK3CA', 'SRM']), (1948, ['HRAS', 'HSPA1L', 'TPM2']), (1955, ['PCLO', 'QDPR', 'TRIO']), (2017, ['DNMBP', 'THSD4', 'TMEM176A']), (2165, ['ALDH6A1', 'BRCA2', 'IDH1']), (2205, ['KDELR3', 'TEKT2', 'TENM2']), (2230, ['BMPR1B', 'MAP3K1', 'PIK3CA']), (2268, ['BRAF', 'ITPR2', 'YWHAG']), (2322, ['BAZ2A', 'PIK3CB', 'PRKACA']), (2375, ['CASP8', 'DHCR24', 'TP53']), (2394, ['APC', 'DMD', 'MAGIX']), (2483, ['ABCC2', 'BRAF', 'SLC6A8']), (2545, ['ATRX', 'GM2A', 'IDH1'])]

In [68]:
for ns in range (2,5):
    result_n = find_test_n_ones(ns )

    for i, qSet in result_n:
        #print(i, qSet)
        #option2) qSet에 해당하는 컬럼들만 값이 1인 행을 반환
        rows_with_only_qSet_ones = df[(data[qSet].eq(1).all(axis=1)) & (data.drop(columns=qSet).eq(0).all(axis=1))]
        rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
        
        if rs.shape[0] > 0:
            rs = rs.loc[0].SUBCLASS
            print(rs, res_df.loc[i]['SUBCLASS'])
            #res_df2.loc[i,'SUBCLASS'] = rs

LGG BRCA
LGG GBMLGG
GBMLGG GBMLGG
KIRC UCEC
KIPAN PCPG
KIPAN SARC
LGG LGG
GBMLGG GBMLGG
GBMLGG GBMLGG
LGG LGG
LGG LGG
GBMLGG LGG
LGG LAML
GBMLGG GBMLGG
LGG LGG
LGG GBMLGG
LGG LGG
LGG LGG
GBMLGG GBMLGG

In [ ]:
print(find_test_n_ones(4))

In [ ]:
print(find_test_n_ones(5))

In [ ]:
df_test

In [ ]:
# res 값 수정, 
# 문서 2,3,4,5
res_df2 = res_df1.copy()
result_n = find_test_n_ones(2)

for i, qSet in result_n:
    print(i, qSet)
    #option2) qSet에 해당하는 컬럼들만 값이 1인 행을 반환
    rows_with_only_qSet_ones = df[(data[qSet].eq(1).all(axis=1)) & (data.drop(columns=qSet).eq(0).all(axis=1))]
    rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
    
    if rs.shape[0] > 0:
        rs = rs.loc[0].SUBCLASS
        print(rs)
        res_df2.loc[i,'SUBCLASS'] = rs
    else: 
        #option1) qSet에 해당하는 컬럼들이 포함된, 값이 1인 행을 반환
        rows_with_all_ones = df[data[qSet].eq(1).all(axis=1)]
        if rows_with_all_ones.shape[0] > 1:
            try:
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count')#.loc[].SUBCLASS## 0->1
                print(rs)
                #res_df2.loc[i,'SUBCLASS'] = rs
            except KeyError or ValueError:
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS## 0->1
                res_df2.loc[i,'SUBCLASS'] = rs
                print(rs)
            
#res_df2.to_csv('res2-step3-two.csv',index = False)

In [ ]:
result_n = find_test_n_ones(3)

for i, qSet in result_n:
    print(i, qSet)
    #option2) qSet에 해당하는 컬럼들만 값이 1인 행을 반환
    rows_with_only_qSet_ones = df[(data[qSet].eq(1).all(axis=1)) & (data.drop(columns=qSet).eq(0).all(axis=1))]
    rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
    
    if rs.shape[0] > 0:
        rs = rs.loc[0].SUBCLASS
        print(rs)
        res_df2.loc[i,'SUBCLASS'] = rs
    #else: 
    #    #option1) qSet에 해당하는 컬럼들이 포함된, 값이 1인 행을 반환
    #    rows_with_all_ones = df[data[qSet].eq(1).all(axis=1)]
    #    if rows_with_all_ones.shape[0] > 0 : 
    #        rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS
    #        print(rs)
    #        res_df2.loc[i,'SUBCLASS'] = rs

In [55]:
res_df2.to_csv('res-step4-three.csv',index = False)

NameError: name 'find_test_n_ones' is not defined

In [48]:
res_df2.to_csv('res-step5-four.csv',index = False)

In [ ]:
result_n = find_test_n_ones(5)

for i, qSet in result_n:
    print(i, qSet)
    #option2) qSet에 해당하는 컬럼들만 값이 1인 행을 반환
    rows_with_only_qSet_ones = df[(data[qSet].eq(1).all(axis=1)) & (data.drop(columns=qSet).eq(0).all(axis=1))]
    rs = rows_with_only_qSet_ones['SUBCLASS'].value_counts().reset_index(name='count') #.loc[1].SUBCLASS #KIRC
    
    if rs.shape[0] > 0:
        rs = rs.loc[0].SUBCLASS
        print(rs)
        res_df2.loc[i,'SUBCLASS'] = rs
    else: 
        #option1) qSet에 해당하는 컬럼들이 포함된, 값이 1인 행을 반환
        rows_with_all_ones = df[data[qSet].eq(1).all(axis=1)]
        if rows_with_all_ones.shape[0] > 1 : 
            try: 
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[1].SUBCLASS
                print(rs)
                res_df2.loc[i,'SUBCLASS'] = rs
            except KeyError or ValueError:
                rs = rows_with_all_ones['SUBCLASS'].value_counts().reset_index(name='count').loc[0].SUBCLASS
                print(rs)
                res_df2.loc[i,'SUBCLASS'] = rs

In [58]:
res_df2.to_csv('res-step6-five.csv',index = False)