In [1]:
import pandas as pd 
resdf = pd.read_csv('/Users/s/Downloads/p22redictions_no_scaler.csv')
resdf

             ID SUBCLASS
0     TEST_0000     LUSC
1     TEST_0001     STES
2     TEST_0002    KIPAN
3     TEST_0003      LGG
4     TEST_0004     LUSC
...         ...      ...
2541  TEST_2541     HNSC
2542  TEST_2542     LUSC
2543  TEST_2543     UCEC
2544  TEST_2544     LAML
2545  TEST_2545   GBMLGG

[2546 rows x 2 columns]

In [2]:
resdf.SUBCLASS.value_counts()

SUBCLASS
STES      487
BRCA      473
COAD      369
LUSC      166
KIRC      154
KIPAN     105
GBMLGG     93
HNSC       82
THCA       74
PCPG       73
SKCM       73
UCEC       71
LGG        59
TGCT       56
LAML       54
OV         50
LIHC       27
LUAD       26
ACC        23
SARC       12
PRAD       10
CESC        7
BLCA        2
Name: count, dtype: int64